* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Avenir Book";
  src: url("Fonts/721226/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
  src: url("Fonts/721226/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"), url("Fonts/721226/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"), url("Fonts/721226/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"), url("Fonts/721226/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg"); }
@font-face {
  font-family: "Avenir Heavy";
  src: url("Fonts/721244/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src: url("Fonts/721244/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"), url("Fonts/721244/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"), url("Fonts/721244/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"), url("Fonts/721244/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg"); }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media screen and (max-width: 40em) {
  html {
    font-size: 62.5%; } }
/* min-width 641px, medium screens */
@media screen and (min-width: 40.063em) {
  html {
    font-size: 75%; } }
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
@media screen and (min-width: 64.063em) {
  html {
    font-size: 90%; } }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
@media screen and (min-width: 90.063em) {
  html {
    font-size: 95%; } }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xlarge screens */
@media screen and (min-width: 120.063em) {
  html {
    font-size: 105%; } }
.pullquote, .subpage .page-header p {
  font-family: "Palatino", "Palatino Linotype", "Open Sans", sans-serif;
  font-style: italic; }

body, .page-header h1, .home .page-header p {
  font-family: "Avenir","Helvetica Neue",Helvetica,Arial,sans-serif; }

.page-header .header-copy, .block-copy-container, .nav-primary .logo, .nav-primary .nav-primary__menu--lg, .nav-primary .nav-primary__menu .nav-primary__link span, .benefits .benefits__item p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.page-header .comma, .page-header .break-sm {
  display: block;
  visibility: hidden;
  height: 0; }

.nav-primary, .nav-primary .nav-toggle {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

.loading-spinner, .subpage .nav-primary, .subpage .nav-toggle, .subpage .nav-primary__menu--lg a {
  -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.nav-primary .nav-primary__menu, .nav-primary .nav-primary__menu .nav-primary__link {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.nav-primary .nav-primary__menu {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0); }

.nav-primary .nav-primary__menu, .nav-primary .nav-primary__menu .nav-primary__link {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  font-weight: 600;
  color: #FFF;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  border-radius: .4rem;
  border-width: .2rem;
  border-style: solid;
  border-color: #fff;
  background-image: none;
  vertical-align: middle;
  cursor: pointer; }
  .btn.btn-large {
    padding: .9rem 7rem;
    font-size: 1.6rem;
    font-weight: 800; }
  .btn.btn-black {
    color: #444;
    border-color: #444; }
  .btn.btn-white:hover, .btn.btn-white:active {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8); }
  .btn.btn-black:hover, .btn.btn-black:active {
    color: #444;
    border-color: rgba(0, 0, 0, 0.8); }

.loading-spinner {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 5em;
  width: 5em;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  margin: 0 0 0 -2.5em;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  -webkit-filter: blur(2px); }

.circle {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin: 0 auto;
  position: relative; }

.circle:after {
  height: 4em;
  width: 4em;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 50%;
  content: "";
  border-radius: 50%;
  background: #ffffff;
  margin: auto auto auto -2em; }

.loader {
  height: 5em;
  width: 5em;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  margin: auto auto auto -2.5em; }

.loader:after {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  -webkit-animation: spin 0.34s infinite linear;
  -moz-animation: spin 0.34s infinite linear;
  animation: spin 0.34s infinite linear;
  content: "";
  margin: auto;
  border-radius: 50%;
  border: 2.5em solid #fda929;
  border-top: 2.5em solid transparent;
  border-left: 2.5em solid transparent; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
* {
  -webkit-tap-highlight-color: transparent; }
  * ::selection {
    background: #fda929;
    /* Safari */
    color: #fff; }
  * ::-moz-selection {
    background: #fda929;
    /* Firefox */
    color: #fff; }

html, body {
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #444;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h4 {
  margin: 0; }

a {
  color: #be7402;
  text-decoration: none; }
  a:hover {
    color: #8c5501; }
  a:active {
    color: #593601; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

.check-if-mobile {
  /* MEDIUM: 641px min */ }
  @media screen and (min-width: 40.063em) {
    .check-if-mobile {
      display: none; } }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

#page-window {
  position: relative;
  float: left;
  width: 100%; }
  #page-window:after {
    content: "";
    display: table;
    clear: both; }
  #page-window.no-scroll {
    height: -webkit-calc(100% - 5rem);
    height: calc(100% - 5rem);
    overflow: hidden; }

.page-header {
  position: relative;
  float: left;
  height: 41.25rem;
  width: 100%;
  margin: 0;
  margin-top: -5rem;
  padding-top: 5rem; }
  .page-header:after {
    content: "";
    display: table;
    clear: both; }
  .page-header .header-copy {
    position: absolute;
    width: 100%;
    z-index: 1; }
  .page-header .header-bg {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 0; }
  .page-header h1 {
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.45rem;
    font-weight: 800;
    font-size: 6rem;
    line-height: .8; }
  .page-header p {
    font-size: 1.8rem;
    width: 82%;
    line-height: 1.6; }
  .page-header .break-sm {
    display: none; }
  .page-header .btn {
    width: 100%; }

.row {
  position: relative;
  float: left;
  width: 100%; }

.block {
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0; }
  .block.block-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff; }
  .block.block-tall {
    height: 38rem; }
  .block.block-img-wide {
    height: 30rem;
    background-position: center right; }
  @media screen and (min-width: 40.063em) {
    .block.block-tall {
      width: 50%;
      height: 42rem; }
    .block.block-img-wide {
      height: 50rem; } }

.block-copy-container {
  position: relative;
  margin: 0 auto;
  text-align: left; }
  .block-copy-container h2 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 1.06;
    font-weight: 900;
    width: 30%; }
  .block-copy-container p {
    font-size: 1.9rem;
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 50%; }
  .block-copy-container .btn {
    width: 100%; }
  @media screen and (min-width: 40.063em) {
    .block-copy-container .btn {
      width: auto; } }

.pullquote {
  max-width: 80rem;
  padding: 4rem 0;
  margin: 0 auto;
  font-size: 1.9rem;
  line-height: 1.6;
  font-weight: 500; }
  .pullquote.sans-serif {
    font-weight: 900;
    color: #fff;
    line-height: 1.48;
    font-size: 900;
    font-size: 2.2rem; }

.nav-primary {
  position: relative;
  float: left;
  width: 100%;
  height: 5rem;
  z-index: 99; }
  .nav-primary a:active {
    opacity: .6; }
  .nav-primary .logo {
    background: url("../images/global/techshed-logo.png") left top no-repeat;
    background-size: cover;
    width: 12rem;
    height: 3rem;
    left: 0;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    font-size: 3rem;
    color: transparent; }
  .nav-primary .logo, .nav-primary .nav-primary__menu--lg {
    position: absolute; }
  .nav-primary .nav-toggle {
    text-align: right;
    float: right;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem; }
  .nav-primary .nav-primary__menu {
    height: -webkit-calc(100% - 5rem);
    height: calc(100% - 5rem);
    position: absolute;
    width: auto;
    top: 5rem;
    right: 0;
    left: 0;
    min-height: 40rem;
    text-align: center;
    z-index: 999;
    display: none; }
    .nav-primary .nav-primary__menu .nav-primary__link {
      display: block;
      background: rgba(0, 0, 0, 0.92);
      float: left;
      color: #fff;
      font-size: 3rem;
      font-weight: 900;
      opacity: 1;
      width: 100%;
      height: 25%; }
      .nav-primary .nav-primary__menu .nav-primary__link:hover {
        background: #111; }
      .nav-primary .nav-primary__menu .nav-primary__link span {
        display: inline-block; }
      .nav-primary .nav-primary__menu .nav-primary__link:nth-child(1) {
        transition-delay: 0.06667s; }
      .nav-primary .nav-primary__menu .nav-primary__link:nth-child(2) {
        transition-delay: 0.13333s; }
      .nav-primary .nav-primary__menu .nav-primary__link:nth-child(3) {
        transition-delay: 0.2s; }
      .nav-primary .nav-primary__menu .nav-primary__link:nth-child(4) {
        transition-delay: 0.26667s; }
    .nav-primary .nav-primary__menu.is-hidden {
      opacity: 0; }
      .nav-primary .nav-primary__menu.is-hidden .nav-primary__link {
        opacity: 0; }
  .nav-primary .nav-primary__menu--lg {
    text-align: right;
    right: 0;
    display: none; }
    .nav-primary .nav-primary__menu--lg a {
      display: inline-block;
      padding: .8rem 1rem;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem; }
      .nav-primary .nav-primary__menu--lg a.active {
        border-bottom: 1px solid #444; }
  @media screen and (min-width: 40.063em) {
    .nav-primary .nav-toggle {
      display: none; }
    .nav-primary .nav-primary__menu--lg {
      display: block; } }

.subpage .page-header h1 {
  margin-left: -0.35rem; }
.subpage .page-header p {
  font-size: 2rem;
  width: 100%; }
.subpage .logo {
  background-position: 0 -3.1rem; }
.subpage .nav-toggle, .subpage .nav-primary__menu--lg a {
  color: #444; }

#home-video-bg {
  display: none; }

.home .our-jobs {
  max-width: 38rem;
  color: #444 !important; }
  .home .our-jobs p {
    width: 100%; }
.home .page-header {
  background: #DB9452;
  overflow: hidden; }
  .home .page-header .header-bg {
    width: 35rem;
    margin-top: -2.3rem;
    right: -.3rem;
    background-image: url(../images/home/header-tools.jpg); }
  .home .page-header .header-copy {
    color: #fff;
    margin-top: -1rem; }
  .home .page-header h1 {
    font-size: 7.5rem;
    line-height: .8;
    font-weight: 900; }
  .home .page-header p {
    width: 100%;
    margin: 1rem 0 1.8rem;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.3; }
  @media screen and (min-width: 40.063em) {
    .home .page-header {
      height: 50rem; }
      .home .page-header #home-video-bg {
        display: block;
        width: 100%;
        position: absolute;
        background-color: transparent;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        background-size: cover; }
      .home .page-header h1 {
        font-size: 9.5rem; }
      .home .page-header .header-bg {
        width: 81%;
        right: 0rem;
        margin-top: 3.5rem; }
      .home .page-header .header-copy {
        margin-top: 0; }
      .home .page-header .btn {
        width: auto; }
      .home .page-header .break-sm {
        display: block; } }
  @media screen and (min-width: 64.063em) {
    .home .page-header h1 {
      font-size: 11.3rem;
      margin-left: -1rem; }
    .home .page-header .header-copy {
      margin-top: 0rem; }
    .home .page-header .header-bg {
      right: 4rem;
      width: 54rem;
      margin-top: 0rem; }
    .home .page-header .comma {
      display: inline-block;
      visibility: visible; }
    .home .page-header p {
      width: 40rem;
      font-size: 1.7rem; } }
  @media screen and (min-width: 90.063em) {
    .home .page-header {
      height: 62.5rem;
      padding: 0; }
      .home .page-header h1 {
        font-size: 14.4rem;
        margin-left: -1rem; }
      .home .page-header .header-copy {
        margin-top: 2rem; }
      .home .page-header .header-bg {
        right: 8rem;
        margin-top: 0;
        width: 63rem; }
      .home .page-header .comma {
        display: inline-block;
        visibility: visible; }
      .home .page-header p {
        font-size: 2rem; } }
  @media screen and (min-width: 120.063em) {
    .home .page-header {
      height: 71.25rem; }
      .home .page-header p {
        margin: 1.5rem 0 2rem; } }

.home01 {
  background-image: url(../images/home/home01.jpg); }

.home02 {
  background-image: url(../images/home/home02.jpg); }

.home03 {
  background-image: url(../images/home/home03.jpg); }

.home04 {
  background-image: url(../images/home/home04.jpg); }

.home05 {
  background-image: url(../images/home/home05.jpg); }

.home06 {
  background-image: url(../images/home/home06.jpg); }

.benefits {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%; }
  .benefits:after {
    content: "";
    display: table;
    clear: both; }
  .benefits .benefits__item {
    float: left;
    height: 10rem;
    width: 10rem;
    margin: 5.5%;
    border-radius: 50%;
    border: .2rem solid #fff; }
    .benefits .benefits__item p {
      margin: 0;
      padding: 0 10%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.1;
      color: #fff; }
  @media screen and (min-width: 40.063em) {
    .benefits {
      width: 100%; }
      .benefits .benefits__item {
        margin: 4.4%; } }

.jobs .header-bg {
  background-image: url(../images/jobs/header-jobs.jpg);
  width: 46rem;
  top: 6rem;
  right: -25rem; }
@media screen and (min-width: 40.063em) {
  .jobs .header-bg {
    right: -10rem; } }

.projects {
  /* MEDIUM: 641px min */
  /* LARGE: 1025px min */
  /* X-LARGE: 1441px min */ }
  .projects .header-bg {
    background-image: url(../images/projects/projects-header.jpg);
    width: 42rem;
    top: 1rem;
    right: -30rem; }
  .projects .block-project {
    height: 50rem;
    color: #fff; }
    .projects .block-project h2 {
      width: 70%; }
    .projects .block-project p {
      width: 100%;
      font-weight: 600;
      line-height: 1.5; }
  @media screen and (min-width: 40.063em) {
    .projects .header-bg {
      width: 42rem;
      top: 1rem;
      right: -20rem; }
    .projects .block-project {
      height: 40rem; }
      .projects .block-project h2 {
        width: 70%; }
      .projects .block-project p {
        width: 50%; } }
  @media screen and (min-width: 90.063em) {
    .projects .header-bg {
      width: 42rem;
      top: 1rem;
      right: -2rem; }
    .projects .break-sm {
      display: block; } }

.project01 {
  background-image: url(../images/projects/project01.jpg); }

.project02 {
  background-image: url(../images/projects/project02.jpg); }

.project03 {
  background-image: url(../images/projects/project03.jpg); }

.contact .header-bg {
  background-image: url(../images/contact/header-contact.jpg);
  width: 46rem;
  top: 2rem;
  right: -5rem; }
.contact .block-copy-container {
  top: 2rem; }
  .contact .block-copy-container h2 {
    width: 100%; }

.contact-footer {
  background-image: url(../images/contact/footer-bg.jpg);
  font-size: 1.5rem;
  height: 40rem !important;
  background-position: 27% 0px !important; }
  .contact-footer h2 {
    margin: 0 0 2rem;
    font-size: 3rem; }
  .contact-footer .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .contact-footer .col:last-child {
      margin-right: 0; }
  .contact-footer .btn {
    width: 100%;
    margin: 0 0 2rem; }
  @media screen and (min-width: 40.063em) {
    .contact-footer {
      background-position: center center; }
      .contact-footer .block-copy-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        top: 50%; }
        .contact-footer .block-copy-container:last-child {
          margin-right: 0; } }
