@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-book.eot?#iefix") format("eot"), url("../fonts/avenir-book.woff") format("woff"), url("../fonts/avenir-book.ttf") format("truetype"), url("../fonts/avenir-book.svg") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-heavy.eot?#iefix") format("eot"), url("../fonts/avenir-heavy.woff") format("woff"), url("../fonts/avenir-heavy.ttf") format("truetype"), url("../fonts/avenir-heavy.svg") format("svg");
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-black.eot?#iefix") format("eot"), url("../fonts/avenir-black.woff") format("woff"), url("../fonts/avenir-black.ttf") format("truetype"), url("../fonts/avenir-black.svg") format("svg");
  font-weight: 900; }
.pullquote, .subpage .page-header p {
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic; }

body, .page-header h1, .pullquote.sans-serif, .home .page-header p {
  font-family: "Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal; }

.page-header__copy, .nav-primary .logo, .nav-primary .nav-primary__menu--lg, .nav-primary__menu .nav-primary__link span, .our-jobs, .benefits__item p, .block--project__copy {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.page-header .comma, .page-header .break-sm {
  display: block;
  visibility: hidden;
  height: 0; }

.nav-primary .logo {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

.nav-primary__menu--on, .subpage .nav-primary__menu-toggle, .subpage .nav-primary__menu--lg a {
  -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link {
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  transition: all 0.33s ease; }

.nav-primary__menu, .nav-primary__menu:before {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0); }

.nav-primary, .nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  font-weight: 900;
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  border-radius: .4rem;
  border-width: .25rem;
  border-style: solid;
  border-color: #fff;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  background-image: none !important; }
  .btn.btn--black {
    color: #444;
    border-color: #444; }
  .btn.btn--white:hover, .btn.btn--white:active {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8); }
  .btn.btn--black:hover, .btn.btn--black:active {
    color: #444;
    border-color: rgba(0, 0, 0, 0.8); }

* {
  -webkit-tap-highlight-color: transparent; }
  * ::selection {
    background: #ef4d0f;
    /* Safari */
    color: #fff; }
  * ::-moz-selection {
    background: #ef4d0f;
    /* Firefox */
    color: #fff; }

html, body {
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  @media screen and (max-width: 40em) {
    html {
      font-size: 62.5%; } }
  @media screen and (min-width: 40.063em) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 64.063em) {
    html {
      font-size: 85%; } }
  @media screen and (min-width: 90.063em) {
    html {
      font-size: 95%; } }
  @media screen and (min-width: 120.063em) {
    html {
      font-size: 105%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #444;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #8f2e09;
  text-decoration: none; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

#nprogress .bar {
  background: #ef4d0f;
  height: 2px; }

#nprogress .peg {
  display: none; }

#nprogress .spinner {
  display: none; }

@media screen and (min-width: 40.063em) {
  .check-if-mobile {
    display: none; } }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

#page-window {
  position: relative;
  float: left;
  width: 100%;
  margin-top: -5rem;
  padding-top: 5rem; }
  #page-window:after {
    content: "";
    display: table;
    clear: both; }
  #page-window.no-scroll {
    height: 100%;
    overflow: hidden; }

.page-header {
  position: relative;
  float: left;
  height: 46.25rem;
  width: 100%;
  margin: 0;
  margin-top: -5rem;
  padding-top: 5rem; }
  .page-header:after {
    content: "";
    display: table;
    clear: both; }
  .page-header h1 {
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.45rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: .8; }
  .page-header p {
    width: 82%;
    font-size: 2rem;
    line-height: 1.6; }
  .page-header .break-sm {
    display: none; }
  .page-header .btn {
    width: 100%; }

.page-header__copy {
  position: absolute;
  width: 100%;
  z-index: 1; }

.page-header__bg {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 0; }

.row {
  position: relative;
  float: left;
  width: 100%; }

.block, .block--img, .block--project--featured, .block--tall, .block--wide, .block--project {
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0; }

.block--img, .block--project--featured {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff; }
  .block--img a, .block--project--featured a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.6) 50%);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 1.6rem; }
    .block--img a:hover, .block--project--featured a:hover, .block--img a:active, .block--project--featured a:active {
      color: rgba(255, 255, 255, 0.8); }

.block--tall {
  height: 38rem; }
  @media screen and (min-width: 40.063em) {
    .block--tall {
      width: 50%;
      height: 42rem; } }

.block--wide, .block--project {
  height: 30rem;
  background-position: center right; }
  @media screen and (min-width: 40.063em) {
    .block--wide, .block--project {
      height: 42rem; } }

h4 {
  margin: 0; }

.pullquote {
  font-weight: 300;
  line-height: 1.6;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 0;
  font-size: 2rem; }
  .pullquote.sans-serif {
    color: #fff;
    font-weight: 900;
    line-height: 1.48; }

.nav-primary {
  position: relative;
  float: left;
  width: 100%;
  height: 5rem;
  z-index: 99; }
  .nav-primary a:active {
    opacity: .6; }
  .nav-primary .logo {
    background: url("../images/global/techshed-logo.png") left top no-repeat;
    background-size: cover;
    width: 12rem;
    height: 3rem;
    left: 0;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    font-size: 3rem;
    color: transparent; }
  .nav-primary .logo, .nav-primary .nav-primary__menu--lg {
    position: absolute; }
  @media screen and (min-width: 40.063em) {
    .nav-primary .nav-primary__menu-toggle, .nav-primary .nav-primary__menu {
      display: none !important; }
    .nav-primary .nav-primary__menu--lg {
      display: block; } }

.nav-primary__menu-toggle {
  text-align: right;
  float: right;
  padding: 1.8rem 0rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  vertical-align: middle; }
  .nav-primary__menu-toggle span {
    display: inline-block;
    line-height: 0;
    opacity: .5; }

.nav-primary__menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 35.4rem;
  text-align: center;
  z-index: 2;
  display: none;
  padding-top: 5rem;
  overflow: hidden; }
  .nav-primary__menu:before {
    content: '';
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 50%, transparent 100%);
    height: 240%;
    top: -5rem;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%; }
  .nav-primary__menu.is-hidden {
    opacity: 0; }
    .nav-primary__menu.is-hidden:before {
      top: -100%; }
    .nav-primary__menu.is-hidden .nav-primary__link {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      opacity: 0; }
  .nav-primary__menu .nav-primary__link {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    display: block;
    float: left;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    opacity: 1;
    width: 100%;
    height: 25%; }
    .nav-primary__menu .nav-primary__link span {
      display: inline-block; }
    .nav-primary__menu .nav-primary__link:nth-child(1) {
      transition-delay: 0.06667s; }
    .nav-primary__menu .nav-primary__link:nth-child(2) {
      transition-delay: 0.13333s; }
    .nav-primary__menu .nav-primary__link:nth-child(3) {
      transition-delay: 0.2s; }
    .nav-primary__menu .nav-primary__link:nth-child(4) {
      transition-delay: 0.26667s; }

.nav-primary__menu--on .logo {
  background-position: 0 0 !important; }
.nav-primary__menu--on .nav-primary__menu-toggle {
  color: #fff !important; }
  .nav-primary__menu--on .nav-primary__menu-toggle span {
    font-size: 1.9rem; }

.nav-primary__menu--lg {
  text-align: right;
  right: 0;
  display: none; }
  .nav-primary__menu--lg a {
    display: inline-block;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.7rem; }
    .nav-primary__menu--lg a.active {
      border-bottom: 1px solid #444; }

.subpage .nav-primary {
  background-color: transparent; }
.subpage .page-header h1 {
  margin-left: -0.35rem; }
.subpage .page-header p {
  font-size: 2rem;
  width: 100%; }
.subpage .logo {
  background-position: 0 -3.08rem; }
.subpage .nav-primary__menu-toggle, .subpage .nav-primary__menu--lg a {
  color: #444; }

.home .nav-primary {
  background-color: transparent; }
.home .page-header {
  background-color: #E1AB68;
  background-image: url(../images/home/header-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  overflow: hidden; }
  .home .page-header h1 {
    width: 30%; }
  .home .page-header p {
    width: 100%;
    margin: 1rem 0 1.8rem;
    font-weight: 900;
    line-height: 1.3; }
  @media screen and (min-width: 40.063em) {
    .home .page-header {
      height: 50rem;
      background-image: none; }
      .home .page-header .comma {
        height: auto; }
      .home .page-header h1 {
        width: 102%;
        margin-left: -.4rem; }
      .home .page-header .comma {
        display: inline-block;
        visibility: visible;
        margin-right: -.5rem; }
      .home .page-header .btn {
        max-width: 26rem; }
      .home .page-header .break-sm {
        display: block; } }
  @media screen and (min-width: 64.063em) {
    .home .page-header {
      height: 53.125rem; }
      .home .page-header h1 {
        width: 102%;
        margin-left: -.7rem; }
      .home .page-header .comma {
        display: inline-block;
        visibility: visible;
        margin-right: -.5rem; }
      .home .page-header p {
        width: 40rem; } }
  @media screen and (min-width: 90.063em) {
    .home .page-header {
      height: 62.5rem; }
      .home .page-header h1 {
        margin-left: -.8rem; } }
  @media screen and (min-width: 120.063em) {
    .home .page-header {
      height: 60rem; }
      .home .page-header h1 {
        margin-left: -1rem; }
      .home .page-header p {
        margin: 1.5rem 0 2rem; } }
.home .page-header__copy {
  color: #fff;
  margin-top: -1rem; }
  @media screen and (min-width: 40.063em) {
    .home .page-header__copy {
      margin-top: 0; } }

.video-bg {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0, -50%); }
  @media screen and (min-width: 40.063em) {
    .video-bg {
      display: block; } }
  @media screen and (min-width: 64.063em) {
    .video-bg {
      height: 111%; } }
  @media screen and (min-width: 90.063em) {
    .video-bg {
      height: 75rem; } }
  @media screen and (min-width: 120.063em) {
    .video-bg {
      height: 120%; } }

.culture {
  padding: 5rem 0; }
  .culture p:first-letter {
    font-size: 340%;
    line-height: 0;
    display: inline-block;
    float: left;
    padding: 3.1rem .2rem 1rem .6rem; }
@-moz-document url-prefix() {
  .culture p:first-letter {
    padding: 0.2rem 0.3rem 0.8rem 0.6rem; } }
.our-jobs {
  max-width: 38rem;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left; }
  .our-jobs h2 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%; }
  .our-jobs p {
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem; }
  .our-jobs .btn {
    width: 100%; }
  @media screen and (min-width: 64.063em) {
    .our-jobs {
      max-width: 47rem; }
      .our-jobs .btn {
        max-width: 20rem; } }

.home01 {
  background-image: url(../images/home/home01.jpg); }

.home02 {
  background-image: url(../images/home/home02.jpg); }

.home03 {
  background-image: url(../images/home/home03.jpg); }

.home04 {
  background-image: url(../images/home/home04.jpg); }

.home05 {
  background-image: url(../images/home/home05.jpg); }

.home06 {
  background-image: url(../images/home/home06.jpg); }

.benefits {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%; }
  .benefits:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 40.063em) {
    .benefits {
      width: 100%; } }

.benefits__item {
  float: left;
  height: 10rem;
  width: 10rem;
  margin: 5.5%;
  border-radius: 50%;
  border: .2rem solid #fff; }
  .benefits__item p {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff; }
  @media screen and (min-width: 40.063em) {
    .benefits__item {
      margin: 4.4%; } }

.jobs {
  /* X-LARGE: 1441px min */ }
  @media screen and (min-width: 90.063em) {
    .jobs .break-sm {
      display: block; } }

.jobscore-jobs {
  max-width: 900px; }

.projects .page-header {
  min-height: 48rem;
  margin-bottom: 4rem; }
@media screen and (min-width: 64.063em) {
  .projects .break-sm {
    display: block; } }

.block--project {
  min-height: 30rem; }

.block--project--featured {
  color: #fff;
  height: 40rem; }
  @media screen and (min-width: 40.063em) {
    .block--project--featured {
      height: 40rem; } }

.featured-badge {
  position: absolute;
  top: -8rem;
  line-height: 10rem;
  left: 0;
  background: #ef4d0f;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  width: 10rem;
  height: 10rem;
  text-align: center; }

.block--project__copy {
  width: 100%; }
  .block--project__copy h2 {
    font-size: 3.5rem;
    margin: 0 0 1rem;
    font-weight: 900; }
  .block--project__copy p {
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5; }
  @media screen and (min-width: 40.063em) {
    .block--project__copy h2 {
      width: 70%; }
    .block--project__copy p {
      width: 70%; } }

.project01 {
  background-image: url(../images/projects/project01.jpg); }

.contact .break-sm {
  display: block; }
@media screen and (min-width: 40.063em) {
  .contact .break-sm {
    display: none; } }
@media screen and (min-width: 64.063em) {
  .contact .block-copy-container {
    top: 2rem; }
    .contact .block-copy-container h2 {
      width: 100%; } }

.contact-footer {
  background-image: url(../images/contact/footer-bg.jpg);
  font-size: 1.5rem;
  height: 40rem !important;
  background-position: 27% 0px !important; }
  .contact-footer h2 {
    margin: 0 0 2rem;
    font-size: 2.5rem;
    font-weight: 600; }
  .contact-footer .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .contact-footer .col:last-child {
      margin-right: 0; }
  .contact-footer .btn {
    width: 100%;
    margin: 0 0 2rem; }
  @media screen and (min-width: 40.063em) {
    .contact-footer {
      background-position: center center; }
      .contact-footer .block-copy-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        top: 50%; }
        .contact-footer .block-copy-container:last-child {
          margin-right: 0; } }
  @media screen and (min-width: 64.063em) {
    .contact-footer .block-copy-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .contact-footer .block-copy-container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 90.063em) {
    .contact-footer .block-copy-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .contact-footer .block-copy-container:last-child {
        margin-right: 0; } }
