* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-book.eot?#iefix") format("eot"), url("../fonts/avenir-book.woff") format("woff"), url("../fonts/avenir-book.ttf") format("truetype"), url("../fonts/avenir-book.svg") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-heavy.eot?#iefix") format("eot"), url("../fonts/avenir-heavy.woff") format("woff"), url("../fonts/avenir-heavy.ttf") format("truetype"), url("../fonts/avenir-heavy.svg") format("svg");
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-black.eot?#iefix") format("eot"), url("../fonts/avenir-black.woff") format("woff"), url("../fonts/avenir-black.ttf") format("truetype"), url("../fonts/avenir-black.svg") format("svg");
  font-weight: 900; }
@font-face {
  font-family: "socicon-webfont";
  src: url("../fonts/socicon-webfont.eot#iefix") format("eot"), url("../fonts/socicon-webfont.woff") format("woff"), url("../fonts/socicon-webfont.ttf") format("truetype"), url("../fonts/socicon-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.subpage .page-header p, .culture .pullquote, .our-jobs__copy p {
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic;
  letter-spacing: 0.06rem; }

body, .page-header h1, .pullquote.sans-serif, .home .page-header p {
  font-family: "Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal; }

.nav-primary .logo, .nav-primary .nav-primary__menu--lg, .nav-primary__menu .nav-primary__link span, .home .page-header__copy, .our-jobs__copy, .benefits__item p, .project__copy, .contact-footer__copy {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.page-header h1, .our-jobs__copy h2, .benefits__item p {
  cursor: default; }

.page-header .comma, .page-header .break-sm {
  display: block;
  visibility: hidden;
  height: 0; }

.contact-footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .contact-footer__links li {
    display: inline-block;
    float: left; }

.nav-primary .logo, .nav-primary__menu .nav-primary__link:active {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

.nav-primary__menu--on, .subpage .nav-primary__menu-toggle, .subpage .nav-primary__menu--lg a {
  -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

#page-window, .nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link {
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  transition: all 0.33s ease; }

.project__img, .project__copy {
  -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.pullquote, .benefits__item, .benefits__item p {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.block, .block--img, .project--featured, .block--tall, .block--wide, .project, .project--img-left, .project--img-right, .project img, .project--featured img, .project--img-left img, .project--img-right img {
  -webkit-transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.nav-primary__menu, .nav-primary__menu:before {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0); }

.nav-primary, .nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link, .benefits__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  font-weight: 900;
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  border-radius: .4rem;
  border-width: .24rem;
  border-style: solid;
  border-color: #fff;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  background-image: none !important; }
  .btn.btn--black {
    color: #444;
    border-color: #444; }
  .btn.btn--white:hover, .btn.btn--white:active {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8); }
  .btn.btn--black:hover, .btn.btn--black:active {
    color: #444;
    border-color: rgba(0, 0, 0, 0.8); }

.icon {
  font-family: 'socicon-webfont' !important;
  font-style: normal; }

.icon-twitter:before {
  content: "a"; }

.icon-facebook:before {
  content: "b"; }

.icon-youtube:before {
  content: "r"; }

* {
  -webkit-tap-highlight-color: transparent; }
  * ::selection {
    background: #f16322;
    /* Safari */
    color: #fff; }
  * ::-moz-selection {
    background: #f16322;
    /* Firefox */
    color: #fff; }

html, body {
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  @media screen and (max-width: 40em) {
    html {
      font-size: 62.5%; } }
  @media screen and (min-width: 40.063em) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 64.063em) {
    html {
      font-size: 85%; } }
  @media screen and (min-width: 90.063em) {
    html {
      font-size: 104%; } }
  @media screen and (min-width: 120.063em) {
    html {
      font-size: 130%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #444;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  -webkit-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #a33a0a;
  text-decoration: none; }

#nprogress .bar {
  background: #f16322;
  height: 2px; }

#nprogress .peg {
  display: none; }

#nprogress .spinner {
  display: none; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.no-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important; }

#page-window {
  position: relative;
  float: left;
  width: 100%;
  margin-top: -7rem;
  padding-top: 7rem; }
  #page-window.no-scroll {
    height: 100%;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    overflow: hidden; }
  #page-window.is-transitioning {
    opacity: 0; }

.page-header {
  position: relative;
  float: left;
  height: 53.125rem;
  width: 100%;
  margin: 0;
  margin-top: -7rem; }
  .page-header:after {
    content: "";
    display: table;
    clear: both; }
  .page-header h1 {
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.45rem;
    font-weight: 900;
    line-height: .8;
    font-size: 6rem; }
  .page-header p {
    width: 82%;
    font-size: 2rem;
    line-height: 1.6; }
  .page-header .break-sm {
    display: none; }
  .page-header .btn {
    width: 100%;
    max-width: 40rem; }

.page-header__copy {
  width: 100%;
  z-index: 1; }

.page-header__bg {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 0; }

.wrapper {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.row, footer {
  position: relative;
  float: left;
  width: 100%; }

.block, .block--img, .project--featured, .block--tall, .block--wide, .project, .project--img-left, .project--img-right {
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0; }

.block--img, .project--featured {
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
  margin-bottom: -1px; }
  .block--img a, .project--featured a {
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.6) 50%);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.6) 50%);
    color: #fff;
    background-size: 2px 2px;
    background-position: 0 1.6rem;
    background-repeat: repeat-x; }
    .block--img a:hover, .project--featured a:hover, .block--img a:active, .project--featured a:active {
      color: rgba(255, 255, 255, 0.8); }
  .block--img .pullquote, .project--featured .pullquote {
    padding: 13rem 0; }

.block--img__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.block--tall {
  height: 40rem; }
  @media screen and (min-width: 40.063em) {
    .block--tall {
      width: 50%; } }
  @media screen and (min-width: 64.063em) {
    .block--tall {
      height: 50rem; } }
  @media screen and (min-width: 90.063em) {
    .block--tall {
      height: 47rem; } }
  @media screen and (min-width: 120.063em) {
    .block--tall {
      height: 60rem; } }

.block--wide {
  height: 30rem;
  width: 100%;
  background-position: center right; }
  @media screen and (min-width: 64.063em) {
    .block--wide {
      height: 46rem; } }

h4 {
  margin: 0; }

.pullquote {
  max-width: 74rem;
  margin: 0 auto;
  padding: 10rem 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6; }
  .pullquote.sans-serif {
    font-weight: 900;
    line-height: 1.48;
    color: #fff; }

footer {
  height: 20rem; }
  footer .icon {
    font-size: 3rem; }

.nav-primary {
  position: relative;
  float: left;
  width: 100%;
  height: 7rem;
  z-index: 99;
  cursor: default; }
  .nav-primary a:active {
    opacity: .6; }
  .nav-primary .logo {
    background: url("../images/global/techshed-logo.png") left top no-repeat;
    background-size: cover;
    width: 12rem;
    height: 3rem;
    left: 0;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    font-size: 3rem;
    color: transparent; }
  .nav-primary .logo, .nav-primary .nav-primary__menu--lg {
    position: absolute; }
  @media screen and (min-width: 40.063em) {
    .nav-primary .nav-primary__menu-toggle, .nav-primary .nav-primary__menu {
      display: none !important; }
    .nav-primary .nav-primary__menu--lg {
      display: block; } }

.nav-primary__menu-toggle {
  text-align: right;
  float: right;
  padding: 2.3rem 0;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  vertical-align: middle; }
  .nav-primary__menu-toggle span {
    display: inline-block;
    opacity: .5; }

.nav-primary__menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 35.4rem;
  text-align: center;
  z-index: 2;
  display: none;
  padding-top: 7rem;
  overflow: hidden; }
  .nav-primary__menu:before {
    content: '';
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.93) 50%, transparent 100%);
    height: 240%;
    top: -7rem;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%; }
  .nav-primary__menu.is-hidden {
    opacity: 0; }
    .nav-primary__menu.is-hidden:before {
      top: -100%; }
    .nav-primary__menu.is-hidden .nav-primary__link {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      opacity: 0; }
  .nav-primary__menu .nav-primary__link {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    display: block;
    float: left;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    opacity: 1;
    width: 100%;
    height: 25%; }
    .nav-primary__menu .nav-primary__link:active {
      color: rgba(255, 255, 255, 0.5); }
    .nav-primary__menu .nav-primary__link span {
      display: inline-block; }
    .nav-primary__menu .nav-primary__link:nth-child(1) {
      transition-delay: 0.06667s; }
    .nav-primary__menu .nav-primary__link:nth-child(2) {
      transition-delay: 0.13333s; }
    .nav-primary__menu .nav-primary__link:nth-child(3) {
      transition-delay: 0.2s; }
    .nav-primary__menu .nav-primary__link:nth-child(4) {
      transition-delay: 0.26667s; }

.nav-primary__menu--on .logo {
  background-position: 0 0 !important; }
.nav-primary__menu--on .nav-primary__menu-toggle {
  color: #fff !important; }
  .nav-primary__menu--on .nav-primary__menu-toggle span {
    font-size: 1.9rem; }

.nav-primary__menu--lg {
  text-align: right;
  right: 0;
  display: none; }
  .nav-primary__menu--lg a {
    display: inline-block;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.7rem; }
    .nav-primary__menu--lg a.active span {
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%);
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%);
      padding: 0.7rem 0;
      background-size: 1px 6px;
      background-position: 0 2.9rem;
      background-repeat: repeat-x; }

.subpage .nav-primary {
  background-color: transparent; }
.subpage .nav-primary__menu--lg a.active span {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.1) 50%);
  background-image: linear-gradient(to bottom,transparent 50%, rgba(0, 0, 0, 0.1) 50%); }
.subpage .page-header {
  height: auto;
  padding: 7rem 0 2rem; }
  .subpage .page-header h1 {
    margin-left: -0.35rem; }
    .subpage .page-header h1 span {
      color: #ddd;
      font-weight: 900;
      display: block;
      margin-bottom: 1.4rem; }
  .subpage .page-header p {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 0; }
  @media screen and (min-width: 40.063em) {
    .subpage .page-header {
      padding: 12rem 0 7rem; } }
  @media screen and (min-width: 64.063em) {
    .subpage .page-header {
      padding: 13rem 0 10rem; } }
  @media screen and (min-width: 90.063em) {
    .subpage .page-header {
      padding: 17rem 0 12rem; } }
.subpage .logo {
  background-position: 0 -3.08rem; }
.subpage .nav-primary__menu-toggle, .subpage .nav-primary__menu--lg a {
  color: #444; }

.home .page-header {
  background-color: #FAA568;
  overflow: hidden; }
  .home .page-header p {
    margin: 1rem 0 1.8rem;
    font-weight: 900;
    line-height: 1.3;
    width: 100%;
    max-width: 36rem; }
  @media screen and (min-width: 40.063em) {
    .home .page-header {
      background-size: 82%;
      background-position: right -15rem;
      height: auto;
      max-height: 48rem; }
      .home .page-header:before {
        content: '';
        display: block;
        margin-top: 84%; }
      .home .page-header h1 {
        width: 102%;
        margin-left: -.4rem; }
      .home .page-header .comma {
        display: inline-block;
        visibility: visible;
        height: auto;
        margin-right: -.5rem; }
      .home .page-header .btn {
        max-width: 26rem; } }
  @media screen and (min-width: 64.063em) {
    .home .page-header {
      background-image: none;
      max-height: 65rem; }
      .home .page-header:before {
        margin-top: 62%; }
      .home .page-header h1 {
        width: 102%;
        margin-left: -.7rem; } }
  @media screen and (min-width: 90.063em) {
    .home .page-header {
      max-height: 71rem; }
      .home .page-header h1 {
        margin-left: -.8rem; } }
  @media screen and (min-width: 120.063em) {
    .home .page-header {
      max-height: 90rem; }
      .home .page-header h1 {
        margin-left: -1rem; }
      .home .page-header p {
        margin: 1.5rem 0 2rem; } }
.home .page-header__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  background-image: url(../images/home/header-bg.jpg);
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }
  @media screen and (min-width: 40.063em) {
    .home .page-header__bg {
      max-width: 38rem; } }
.home .page-header__copy {
  position: absolute;
  color: #fff;
  cursor: default; }
  @media screen and (min-width: 40.063em) {
    .home .page-header__copy {
      margin-top: 2.3rem; } }
  @media screen and (min-width: 90.063em) {
    .home .page-header__copy {
      margin-top: 2rem; } }

.video-bg {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  right: 0; }
  @media screen and (min-width: 64.063em) {
    .video-bg {
      display: block; } }

.culture p:first-letter {
  font-size: 340%;
  line-height: 0;
  display: inline-block;
  float: left;
  padding: 3.1rem 0.5rem 1rem 1rem; }
@-moz-document url-prefix() {
  .culture p:first-letter {
    padding: 0.2rem 0.3rem 0.8rem 0.6rem; } }
.our-jobs__copy {
  max-width: 48rem;
  width: 90%;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left; }
  .our-jobs__copy h2 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%; }
  .our-jobs__copy p {
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem; }
  .our-jobs__copy .btn {
    width: 100%; }
  @media screen and (min-width: 40.063em) {
    .our-jobs__copy {
      max-width: 47rem;
      width: 85%; }
      .our-jobs__copy .btn {
        max-width: 25rem; } }

.home01 {
  padding: 4rem 0; }
  .home01 .block--img__img {
    background-image: url(../images/home/home01.jpg); }

.home02 .block--img__img {
  background-image: url(../images/home/home02.jpg); }

.home03 {
  background-image: url(../images/home/home03.jpg); }

.home04 {
  background-image: url(../images/home/home04.jpg);
  height: 40rem; }

.home05 {
  background-image: url(../images/home/home05.jpg); }

.home06 {
  background-image: url(../images/home/home06.jpg); }

.benefits .wrapper {
  width: 90%;
  margin: 0 auto; }
.benefits .col {
  float: left;
  position: relative;
  display: inline-block;
  width: 50%;
  margin: 2rem 0;
  text-align: center; }
.benefits .col:nth-child(1) .benefits__item {
  transition-delay: 0.11111s; }
.benefits .col:nth-child(1) p {
  transition-delay: 0.2s; }
.benefits .col:nth-child(2) .benefits__item {
  transition-delay: 0.22222s; }
.benefits .col:nth-child(2) p {
  transition-delay: 0.4s; }
.benefits .col:nth-child(3) .benefits__item {
  transition-delay: 0.33333s; }
.benefits .col:nth-child(3) p {
  transition-delay: 0.6s; }
.benefits .col:nth-child(4) .benefits__item {
  transition-delay: 0.44444s; }
.benefits .col:nth-child(4) p {
  transition-delay: 0.8s; }
.benefits .col:nth-child(5) .benefits__item {
  transition-delay: 0.55556s; }
.benefits .col:nth-child(5) p {
  transition-delay: 1s; }
.benefits .col:nth-child(6) .benefits__item {
  transition-delay: 0.66667s; }
.benefits .col:nth-child(6) p {
  transition-delay: 1.2s; }
.benefits .col:nth-child(7) .benefits__item {
  transition-delay: 0.77778s; }
.benefits .col:nth-child(7) p {
  transition-delay: 1.4s; }
.benefits .col:nth-child(8) .benefits__item {
  transition-delay: 0.88889s; }
.benefits .col:nth-child(8) p {
  transition-delay: 1.6s; }
@media screen and (min-width: 40.063em) {
  .benefits .wrapper {
    max-width: 65rem;
    padding: 3rem 0; }
  .benefits .col {
    width: 33.333333%;
    margin-right: 0; } }
@media screen and (min-width: 64.063em) {
  .benefits .wrapper {
    max-width: 80rem; }
  .benefits .col {
    width: 25%;
    margin-right: 0; } }

.benefits__item {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.99); }
  .benefits__item p {
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff; }
  @media screen and (min-width: 40.063em) {
    .benefits__item {
      margin: 4.4%;
      width: 12rem;
      height: 12rem; } }
  @media screen and (min-width: 64.063em) {
    .dormant .benefits__item {
      -webkit-transform: rotateY(120deg) scale(0.2);
      -moz-transform: rotateY(120deg) scale(0.2);
      -ms-transform: rotateY(120deg) scale(0.2);
      -o-transform: rotateY(120deg) scale(0.2);
      transform: rotateY(120deg) scale(0.2);
      border-color: rgba(255, 255, 255, 0); }
      .dormant .benefits__item p {
        opacity: 0; } }

.jobs {
  /* MEDIUM: 641px min */ }
  @media screen and (min-width: 40.063em) {
    .jobs .page-header__copy br {
      display: none; } }

.jobscore-jobs {
  max-width: 900px; }

@media screen and (min-width: 64.063em) {
  .projects .page-header__copy {
    max-width: 74rem; } }
@media screen and (min-width: 90.063em) {
  .projects .page-header__copy {
    max-width: none; }
  .projects .break-sm {
    display: block; } }

.project img, .project--featured img, .project--img-left img, .project--img-right img {
  display: block;
  max-height: 35rem;
  max-width: 100%;
  margin: 0 auto; }
.project .col, .project--featured .col, .project--img-left .col, .project--img-right .col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .project .col:last-child, .project--featured .col:last-child, .project--img-left .col:last-child, .project--img-right .col:last-child {
    margin-right: 0; }
@media screen and (min-width: 40.063em) {
  .project img, .project--featured img, .project--img-left img, .project--img-right img {
    max-width: none; }
  .project .col, .project--featured .col, .project--img-left .col, .project--img-right .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 33rem; }
    .project .col:last-child, .project--featured .col:last-child, .project--img-left .col:last-child, .project--img-right .col:last-child {
      margin-right: 0; } }
@media screen and (min-width: 90.063em) {
  .project .wrapper, .project--featured .wrapper, .project--img-left .wrapper, .project--img-right .wrapper {
    max-width: 90rem; } }

.project--featured {
  height: 40rem;
  margin: 4rem 0 18rem;
  background-position: 93% center;
  overflow: visible; }
  .project--featured .project__copy {
    background: linear-gradient(transparent 0%, #111111 30%, #111111 100%);
    padding: 10rem 2rem 4rem;
    width: 111.5%;
    left: -6%; }
  @media screen and (min-width: 40.063em) {
    .project--featured {
      margin: 0 0 5rem;
      height: 30rem; }
      .project--featured .project__copy {
        left: 0;
        width: 60%;
        max-width: 40rem;
        padding: 0;
        background: none; }
      .project--featured br {
        display: none; } }
  @media screen and (min-width: 64.063em) {
    .project--featured {
      height: 37rem; }
      .project--featured .project__copy {
        left: 7rem; } }
  @media screen and (min-width: 64.063em) {
    .project--featured {
      height: 43rem; } }

.project--featured__badge {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -5rem;
  left: calc(50% - 5rem);
  font-weight: 900;
  line-height: 10rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #f16322; }

@media screen and (min-width: 40.063em) {
  .project--img-left .project__img {
    float: left; }
    .project--img-left .project__img img {
      float: right; }
  .project--img-left.dormant img {
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    -ms-transform: translateX(-15rem);
    -o-transform: translateX(-15rem);
    transform: translateX(-15rem);
    opacity: 0; } }

@media screen and (min-width: 40.063em) {
  .project--img-right .col:first-child {
    width: 40%;
    float: right; }
  .project--img-right .col:nth-child(2) {
    float: left; }
  .project--img-right .project__copy {
    right: -5%; }
  .project--img-right img {
    margin-left: 10px; }
  .project--img-right.dormant img {
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);
    -ms-transform: translateX(15rem);
    -o-transform: translateX(15rem);
    transform: translateX(15rem);
    opacity: 0; } }

.project__img, .project__copy {
  width: 100%;
  float: left; }

.project__copy {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }
  .project__copy h2 {
    margin: 0 0 1rem;
    font-size: 3rem;
    font-weight: 900; }
  .project__copy p {
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5; }
  @media screen and (min-width: 40.063em) {
    .project__copy {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .project__copy p {
        max-width: 51rem; } }

.project-01 {
  background-image: url(../images/projects/project01.jpg); }
  @media screen and (min-width: 64.063em) {
    .project-01 {
      background-size: 110%; } }
  @media screen and (min-width: 90.063em) {
    .project-01 {
      background-size: 100%; } }

@media screen and (min-width: 40.063em) {
  .project-04 .project__img {
    margin-left: -3rem; } }

.contact {
  /* X-LARGE: 1441px min */ }
  .contact .break-sm {
    display: none; }
  @media screen and (min-width: 90.063em) {
    .contact .break-sm {
      display: block; } }

.contact-footer {
  background-image: url(../images/contact/footer-bg.jpg);
  font-size: 1.5rem;
  height: 40rem !important; }
  .contact-footer h2 {
    margin: 0 0 2rem;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.1; }
    .contact-footer h2 span {
      vertical-align: super;
      font-size: 1.8rem; }
  .contact-footer .btn {
    width: 100%;
    max-width: 30rem; }

.contact-footer__copy {
  max-width: 35rem; }
  .contact-footer__copy:after {
    content: "";
    display: table;
    clear: both; }

.contact-footer__links {
  margin-top: 2.3rem; }
  .contact-footer__links li {
    margin: 0 3.2rem 1.1rem 0; }
