* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.quote--serif, .our-jobs__copy p, .page-header--subpage__copy p {
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic;
  letter-spacing: 0.06rem; }

body, .page-header h1, .page-header--home h1, .page-header--subpage h1, .quote--sans-serif, .purpose {
  font-family: "Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal; }

.error .response {
  font-family: 'Consolas', 'Monaco', 'Courier New', 'Courier', monospace; }

.site-footer__location p span, .contact-info h2 span {
  vertical-align: super;
  font-size: 80%; }

.page-header__copy, .page-header--subpage__copy, .nav-primary .logo, .nav-primary .nav-primary__menu--lg, .nav-primary__menu .nav-primary__link span, .page-header--home__copy, .our-jobs__copy, .benefits__item p, .project__img, .project__copy, .contact-info__copy {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%; }

.nav-primary__menu--lg, .contact-info__links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .nav-primary__menu--lg li, .contact-info__links li, .nav-primary__menu--lg a, .contact-info__links a {
    display: inline-block;
    float: left; }

.page-header--home__copy .comma {
  display: block;
  opacity: 0;
  height: 0; }

.page-header h1, .page-header--home h1, .page-header--subpage h1, .nav-primary, .site-footer__social-icons, .our-jobs__copy h2, .benefits__item p {
  cursor: default; }

.logo, .btn, .icon, .nav-primary {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[id^=page], .nav-primary__menu, .nav-primary__menu:before {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -o-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0); }

[id^=page], .nav-primary, .nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link, .benefits__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.nav-primary__menu .nav-primary__link:active {
  -webkit-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.nav-primary__menu--on {
  -webkit-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.nav-primary__menu, .nav-primary__menu:before, .nav-primary__menu .nav-primary__link, #video-bg {
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  transition: all 0.33s ease; }

.benefits__item p, .project__img, .project__copy {
  -webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.jobscore-jobs, .project img, .project--img-left img, .project--img-right img {
  -webkit-transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[id^=page], #pages-container, p, h1, h2, h3, h4, .purpose, .logo, .nav-primary__link, .site-footer, .site-footer__social-icons a, .page-header--home__copy h1 {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

#pages-container.no-scroll, .nav-primary__menu--lg a {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-book.eot?#iefix") format("eot"), url("../fonts/avenir-book.woff") format("woff"), url("../fonts/avenir-book.ttf") format("truetype"), url("../fonts/avenir-book.svg") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-heavy.eot?#iefix") format("eot"), url("../fonts/avenir-heavy.woff") format("woff"), url("../fonts/avenir-heavy.ttf") format("truetype"), url("../fonts/avenir-heavy.svg") format("svg");
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir-black.eot?#iefix") format("eot"), url("../fonts/avenir-black.woff") format("woff"), url("../fonts/avenir-black.ttf") format("truetype"), url("../fonts/avenir-black.svg") format("svg");
  font-weight: 900; }
@font-face {
  font-family: "socicon-webfont";
  src: url("../fonts/socicon-webfont.eot#iefix") format("eot"), url("../fonts/socicon-webfont.woff") format("woff"), url("../fonts/socicon-webfont.ttf") format("truetype"), url("../fonts/socicon-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }
  @media screen and (max-width: 40em) {
    html {
      font-size: 62.5%; } }
  @media screen and (min-width: 40.063em) {
    html {
      font-size: 72%; } }
  @media screen and (min-width: 64.063em) {
    html {
      font-size: 80%; } }
  @media screen and (min-width: 90.063em) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 120.063em) {
    html {
      font-size: 120%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #333333;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body ::selection {
    background: #f16322;
    /* Safari */
    color: #fff; }
  body ::-moz-selection {
    background: #f16322;
    /* Firefox */
    color: #fff; }

a {
  color: #a33a0a;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

.no-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important; }

.hidden {
  visibility: hidden;
  opacity: 0; }

#nprogress {
  z-index: 1; }
  #nprogress .bar {
    background: #f16322;
    height: .2rem; }
  #nprogress .peg, #nprogress .spinner {
    display: none; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

[id^=page] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  background: #fff; }
  [id^=page].is-hidden {
    opacity: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    position: fixed !important; }
  [id^=page].is-visible {
    opacity: 1;
    z-index: 1; }

#pages-container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 0; }
  #pages-container:after {
    content: "";
    display: table;
    clear: both; }
  #pages-container.no-scroll {
    height: 100% !important;
    overflow: hidden; }

.page-header, .page-header--home, .page-header--subpage {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding-top: 7rem; }
  .page-header:after, .page-header--home:after, .page-header--subpage:after {
    content: "";
    display: table;
    clear: both; }
  .page-header h1, .page-header--home h1, .page-header--subpage h1 {
    padding: 0;
    margin: 0 0 0 -.4rem;
    font-weight: 900;
    line-height: .8;
    letter-spacing: -0.1rem; }
  .page-header p, .page-header--home p, .page-header--subpage p {
    width: 82%;
    font-size: 2.1rem; }
  .page-header .btn, .page-header--home .btn, .page-header--subpage .btn {
    width: 100%;
    max-width: 30rem; }

.page-header__copy, .page-header--subpage__copy {
  width: 100%;
  z-index: 1; }
  .subpage .page-header__copy, .subpage .page-header--subpage__copy {
    max-width: 87rem; }

.wrapper {
  max-width: 105rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  width: 90%; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.row, .site-footer {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: -2px;
  background-color: #fff; }

.block, .project, .project--img-left, .project--img-right, .project--featured {
  position: relative;
  float: left;
  width: 100%;
  margin: auto;
  overflow: hidden; }

.block--img, .project--featured {
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden; }
  .block--img a, .project--featured a {
    background-size: 2px 2px;
    background-position: 0 1.6rem;
    background-repeat: repeat-x;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
    color: #fff; }
    .block--img a:hover, .project--featured a:hover {
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 50%);
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 50%); }

.block--img__img {
  position: absolute;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.block--quote {
  padding: 11rem 0; }

.block--tall:before {
  content: '';
  display: block;
  padding-top: 100%; }
@media screen and (min-width: 40.063em) {
  .block--tall {
    width: 50%; } }

.block--wide {
  height: 30rem;
  width: 100%;
  background-position: center right; }
  @media screen and (min-width: 64.063em) {
    .block--wide {
      height: 46rem; } }

.logo {
  width: 12rem;
  height: 3rem;
  left: 0;
  margin: 0;
  padding: 0; }

.logo__mark, .logo__type {
  vertical-align: middle;
  display: inline-block; }

.logo__mark {
  max-width: 25%;
  border: 1px solid white; }

.logo__type {
  width: 70%;
  height: 100%;
  background-image: url("../images/global/techshed-logo-type.png");
  background-size: 200% 53%;
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 1%; }
  .subpage .logo__type {
    background-position: left; }

h4 {
  margin: 0; }

.quote, .quote--sans-serif, .quote--serif {
  max-width: 76rem;
  position: relative;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6; }

.quote--sans-serif {
  font-weight: 900;
  line-height: 1.48;
  color: #fff; }

p, h1, h2, h3, h4, .purpose, .logo, .nav-primary__link {
  opacity: 0; }
  .wf-active p, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active .purpose, .wf-active .logo, .wf-active .nav-primary__link {
    opacity: 1; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  border-radius: .56rem;
  border-width: .26rem;
  border-style: solid;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  background-image: none !important; }

.btn--white {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.99); }
  .btn--white:hover {
    border-color: rgba(255, 255, 255, 0.8); }
  .btn--white:active {
    border-color: rgba(255, 255, 255, 0.6); }

.btn--black {
  color: #333333;
  border-color: #333333; }
  .btn--black:hover {
    border-color: rgba(51, 51, 51, 0.7); }
  .btn--black:active {
    border-color: rgba(51, 51, 51, 0.5); }

.icon {
  font-family: 'socicon-webfont' !important;
  font-style: normal; }

.icon-twitter:before {
  content: "a"; }

.icon-facebook:before {
  content: "b"; }

.icon-youtube:before {
  content: "r"; }

.nav-primary {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 7rem;
  z-index: 3; }
  .nav-primary.visible {
    opacity: 1; }
  .nav-primary a:last-child {
    padding-right: 0; }
  .nav-primary a:active {
    opacity: .6; }
  .nav-primary .logo, .nav-primary .nav-primary__menu--lg {
    position: absolute; }
  @media screen and (min-width: 40.063em) {
    .nav-primary .nav-primary__menu--lg {
      display: block; } }

.nav-primary__menu-toggle {
  text-align: right;
  float: right;
  padding: 2.45rem 0;
  vertical-align: middle;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333333; }
  .home .nav-primary__menu-toggle {
    color: #fff; }
  .nav-primary__menu-toggle span {
    display: inline-block;
    opacity: .5; }
  @media screen and (min-width: 40.063em) {
    .nav-primary__menu-toggle {
      display: none !important; } }

.nav-primary__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 35.4rem;
  padding-top: 7rem;
  text-align: center;
  overflow: hidden;
  z-index: 2; }
  @media screen and (min-width: 40.063em) {
    .nav-primary__menu {
      display: none !important; } }
  .nav-primary__menu.is-hidden {
    opacity: 0; }
    .nav-primary__menu.is-hidden:before {
      top: -100%; }
    .nav-primary__menu.is-hidden .nav-primary__link {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      opacity: 0; }
  .nav-primary__menu:before {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
    content: '';
    position: absolute;
    height: 240%;
    top: -7rem;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%; }
  .nav-primary__menu .nav-primary__link {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    display: block;
    float: left;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    opacity: 1;
    width: 100%;
    height: 25%; }
    .nav-primary__menu .nav-primary__link:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.4); }
    .nav-primary__menu .nav-primary__link span {
      display: inline-block; }
    .nav-primary__menu .nav-primary__link:nth-child(1) {
      transition-delay: 0.06667s; }
    .nav-primary__menu .nav-primary__link:nth-child(2) {
      transition-delay: 0.13333s; }
    .nav-primary__menu .nav-primary__link:nth-child(3) {
      transition-delay: 0.2s; }
    .nav-primary__menu .nav-primary__link:nth-child(4) {
      transition-delay: 0.26667s; }

.nav-primary__menu--on .logo__type {
  background-position: right; }
.nav-primary__menu--on .nav-primary__menu-toggle {
  color: #fff; }
  .nav-primary__menu--on .nav-primary__menu-toggle span {
    font-size: 1.9rem; }

.nav-primary__menu--lg {
  display: none;
  text-align: right;
  right: 0; }
  .nav-primary__menu--lg a {
    padding: .8rem 1.3rem;
    font-weight: 900;
    font-size: 1.7rem;
    color: #fff; }
    .subpage .nav-primary__menu--lg a {
      color: #333333; }
    .nav-primary__menu--lg a span:hover {
      opacity: .8; }
    .nav-primary__menu--lg a.active span, .nav-primary__menu--lg a.active span:hover {
      opacity: 1;
      background-size: 2px 2px;
      background-position: 0 1.6rem;
      background-repeat: repeat-x;
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
      color: #fff;
      background-size: 1px 7px;
      background-position: 0 2.8rem;
      background-repeat: repeat-x; }
      .subpage .nav-primary__menu--lg a.active span, .subpage .nav-primary__menu--lg a.active span:hover {
        background-size: 2px 2px;
        background-position: 0 1.6rem;
        background-repeat: repeat-x;
        background-color: transparent;
        background-image: -webkit-linear-gradient(top, transparent 50%, rgba(51, 51, 51, 0.18) 50%);
        background-image: linear-gradient(to bottom,transparent 50%, rgba(51, 51, 51, 0.18) 50%);
        color: #333333;
        background-size: 1px 7px;
        background-position: 0 2.8rem;
        background-repeat: repeat-x; }
  .nav-primary__menu--lg span {
    padding: 0.7rem 0; }

.logo--footer {
  display: inline-block;
  width: 10rem;
  height: 1.9rem;
  margin-bottom: 2rem;
  background-image: url("../images/global/techshed-logo-type.png");
  background-size: 200%;
  background-repeat: no-repeat; }

.site-footer {
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 4.4rem; }
  .site-footer:after {
    content: "";
    display: table;
    clear: both; }
  .site-footer .row, .site-footer .site-footer {
    text-align: center;
    margin-bottom: 4.4rem; }
  .site-footer .col {
    height: 100%;
    float: left;
    width: 100%; }
    .site-footer .col:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40.063em) {
      .site-footer .col {
        width: 50%; } }

.site-footer__location {
  margin-bottom: 4.4rem; }
  .site-footer__location p {
    margin: 0 0 2rem; }
  .site-footer__location a {
    color: #444; }
  @media screen and (min-width: 40.063em) {
    .site-footer__location {
      text-align: left;
      margin-bottom: 0; }
      .site-footer__location p:last-child {
        margin-bottom: 0; } }

.site-footer__social-icons {
  position: relative;
  float: left;
  font-weight: normal;
  text-align: center;
  font-size: 3.2rem;
  width: 100%; }
  .site-footer__social-icons a {
    color: #333333;
    margin: 0 0.6rem; }
    .site-footer__social-icons a:hover {
      opacity: 0.7; }
    .site-footer__social-icons a:last-child {
      margin-right: 0; }
  @media screen and (min-width: 40.063em) {
    .site-footer__social-icons {
      font-size: 2.6rem;
      text-align: right; } }

.site-footer__mixpanel {
  margin-top: 7rem; }
  .site-footer__mixpanel img {
    width: 10rem;
    margin-bottom: -1rem; }
  @media screen and (min-width: 40.063em) {
    .site-footer__mixpanel {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0; } }

.repo-link {
  font-size: 1.5rem; }
  .repo-link span {
    color: gray;
    padding: 0 .3rem;
    font-weight: 600; }
  .repo-link a {
    background-size: 2px 2px;
    background-position: 0 1.6rem;
    background-repeat: repeat-x;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, transparent 50%, rgba(51, 51, 51, 0.18) 50%);
    background-image: linear-gradient(to bottom,transparent 50%, rgba(51, 51, 51, 0.18) 50%);
    color: #333333;
    color: gray; }
    .repo-link a:hover {
      background-color: transparent;
      background-image: -webkit-linear-gradient(top, transparent 50%, rgba(51, 51, 51, 0.06) 50%);
      background-image: linear-gradient(to bottom,transparent 50%, rgba(51, 51, 51, 0.06) 50%); }

.page-header--home {
  background-color: #FBAB69;
  overflow: hidden;
  height: 52rem; }
  @media screen and (min-width: 40.063em) {
    .page-header--home {
      height: auto;
      max-height: 50rem; }
      .page-header--home:before {
        content: '';
        display: block;
        margin-top: 58%; } }
  @media screen and (min-width: 64.063em) {
    .page-header--home {
      background-image: none;
      max-height: 59rem; }
      .page-header--home:before {
        margin-top: 47.5%; } }
  @media screen and (min-width: 90.063em) {
    .page-header--home {
      max-height: 75rem; } }
  @media screen and (min-width: 120.063em) {
    .page-header--home {
      max-height: 75rem; } }

.page-header--home__copy {
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  color: #fff;
  z-index: 1; }
  .page-header--home__copy h1 {
    margin-left: -.5rem;
    font-size: 6rem;
    opacity: 0;
    letter-spacing: -.2rem; }
  .page-header--home__copy .btn {
    font-size: 2rem; }
  @media screen and (min-width: 40.063em) {
    .page-header--home__copy h1 {
      width: 107%; }
    .page-header--home__copy .comma {
      opacity: 1;
      display: inline-block;
      height: auto;
      margin-right: -.5rem; }
    .page-header--home__copy .btn {
      max-width: 25rem; } }
  @media screen and (min-width: 64.063em) {
    .page-header--home__copy h1 {
      width: 106%;
      margin-left: -.8rem; } }
  @media screen and (min-width: 90.063em) {
    .page-header--home__copy h1 {
      margin-left: -.8rem; } }
  @media screen and (min-width: 120.063em) {
    .page-header--home__copy h1 {
      margin-left: -1rem; } }

.purpose {
  margin: 1.6rem 0 2.3rem;
  width: 103%;
  max-width: 42rem;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.3; }

.page-header--home__bg {
  position: absolute;
  right: -30%;
  bottom: 0;
  width: 90%;
  height: 77%;
  background-image: url(../images/home/header-bg.jpg);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media screen and (min-width: 40.063em) {
    .page-header--home__bg {
      right: 0;
      width: 50%;
      height: 80%; } }
  @media screen and (min-width: 64.063em) {
    .page-header--home__bg {
      display: none; } }

#video-bg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  #video-bg.is-hidden {
    opacity: 0; }
  @media screen and (min-width: 64.063em) {
    #video-bg {
      display: block;
      height: 107%; } }
  @media screen and (min-width: 90.063em) {
    #video-bg {
      height: 109%; } }

.culture p:first-letter {
  font-size: 309%;
  line-height: 0;
  display: inline-block;
  float: left;
  padding: 3.3rem 0rem 1rem 0rem; }
@-moz-document url-prefix() {
  .culture p:first-letter {
    padding: 0.2rem 0.3rem 0.8rem 0.6rem; } }
.our-jobs .block--tall {
  min-height: 40rem;
  max-height: 45rem; }
  @media screen and (min-width: 40.063em) {
    .our-jobs .block--tall {
      max-height: 45rem; } }

.our-jobs__copy {
  position: absolute;
  width: 100%;
  padding: 0 9%;
  margin: 0 auto;
  text-align: left;
  color: #333333; }
  .our-jobs__copy h2 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900; }
  .our-jobs__copy p {
    line-height: 1.7;
    margin: 0;
    padding: 1.4rem 0 2rem;
    width: 100%;
    max-width: 36rem;
    font-size: 1.8rem; }
  .our-jobs__copy .btn {
    width: 100%;
    max-width: 25rem; }
  @media screen and (min-width: 40.063em) {
    .our-jobs__copy {
      padding: 0 12%; } }

.home01 {
  padding: 4rem 0; }
  .home01 .block--img__img {
    background-image: url(../images/home/home01.jpg); }

.home02 .block--img__img {
  background-image: url(../images/home/home02.jpg); }

.home03 {
  background-image: url(../images/home/home03.jpg); }

.home04 {
  background-image: url(../images/home/home04.jpg); }

.home05 {
  background-image: url(../images/home/home05.jpg); }

.home06 {
  background-image: url(../images/home/home06.jpg); }

.benefits .wrapper {
  width: 90%;
  margin: 0 auto; }
.benefits .col {
  float: left;
  position: relative;
  display: inline-block;
  width: 50%;
  margin: 2rem 0;
  text-align: center; }
.benefits .col:nth-child(1) .benefits__item {
  transition-delay: 0.1s; }
.benefits .col:nth-child(1) p {
  transition-delay: 0.16667s; }
.benefits .col:nth-child(2) .benefits__item {
  transition-delay: 0.2s; }
.benefits .col:nth-child(2) p {
  transition-delay: 0.33333s; }
.benefits .col:nth-child(3) .benefits__item {
  transition-delay: 0.3s; }
.benefits .col:nth-child(3) p {
  transition-delay: 0.5s; }
.benefits .col:nth-child(4) .benefits__item {
  transition-delay: 0.4s; }
.benefits .col:nth-child(4) p {
  transition-delay: 0.66667s; }
.benefits .col:nth-child(5) .benefits__item {
  transition-delay: 0.5s; }
.benefits .col:nth-child(5) p {
  transition-delay: 0.83333s; }
.benefits .col:nth-child(6) .benefits__item {
  transition-delay: 0.6s; }
.benefits .col:nth-child(6) p {
  transition-delay: 1s; }
.benefits .col:nth-child(7) .benefits__item {
  transition-delay: 0.7s; }
.benefits .col:nth-child(7) p {
  transition-delay: 1.16667s; }
.benefits .col:nth-child(8) .benefits__item {
  transition-delay: 0.8s; }
.benefits .col:nth-child(8) p {
  transition-delay: 1.33333s; }
@media screen and (min-width: 40.063em) {
  .benefits .wrapper {
    max-width: 65rem;
    padding: 3rem 0; }
  .benefits .col {
    width: 33.333333%;
    margin-right: 0; } }
@media screen and (min-width: 64.063em) {
  .benefits .wrapper {
    max-width: 80rem; }
  .benefits .col {
    width: 25%;
    margin-right: 0; } }

.benefits__item {
  -webkit-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.26rem solid rgba(255, 255, 255, 0.99); }
  .benefits__item p {
    margin: 0;
    opacity: 1;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff; }
  @media screen and (min-width: 40.063em) {
    .benefits__item {
      margin: 4.4%;
      height: 12.3rem;
      width: 12.3rem; } }
  @media screen and (min-width: 64.063em) {
    .benefits__item {
      height: 12.5rem;
      width: 12.5rem; }
      .dormant .benefits__item {
        -webkit-transform: rotateY(100deg) scale(0.6);
        -moz-transform: rotateY(100deg) scale(0.6);
        -ms-transform: rotateY(100deg) scale(0.6);
        -o-transform: rotateY(100deg) scale(0.6);
        transform: rotateY(100deg) scale(0.6);
        border-color: rgba(255, 255, 255, 0); }
        .dormant .benefits__item p {
          opacity: 0; } }

.jobs {
  /* MEDIUM: 641px min */ }
  @media screen and (min-width: 40.063em) {
    .jobs .page-header__copy br, .jobs .page-header--subpage__copy br {
      display: none; } }

.jobscore-jobs {
  max-width: 650px;
  min-height: 35rem; }
  .jobscore-jobs .js-fallback {
    opacity: 0; }

.project, .project--img-left, .project--img-right {
  margin-bottom: 4.4rem; }
  .project img, .project--img-left img, .project--img-right img {
    display: block;
    max-height: 35rem;
    max-width: 100%;
    margin: 0 auto; }
  .project .col, .project--img-left .col, .project--img-right .col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .project .col:last-child, .project--img-left .col:last-child, .project--img-right .col:last-child {
      margin-right: 0; }
  @media screen and (min-width: 40.063em) {
    .project, .project--img-left, .project--img-right {
      margin-bottom: 0; }
      .project img, .project--img-left img, .project--img-right img {
        max-width: none; }
      .project .col, .project--img-left .col, .project--img-right .col {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        height: 40rem; }
        .project .col:last-child, .project--img-left .col:last-child, .project--img-right .col:last-child {
          margin-right: 0; } }
  @media screen and (min-width: 90.063em) {
    .project .wrapper, .project--img-left .wrapper, .project--img-right .wrapper {
      max-width: 90rem; } }

.project--featured {
  height: 35rem;
  margin: 4rem 0 27rem;
  background-position: 93% center;
  overflow: visible; }
  .project--featured .project__copy {
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent 0%, #111111 30%, #111111 100%);
    background-image: linear-gradient(transparent 0%, #111111 30%, #111111 100%);
    padding: 10rem 2rem 4rem; }
  @media screen and (min-width: 40.063em) {
    .project--featured {
      margin: 0 0 4.4rem;
      height: 30rem; }
      .project--featured .project__copy {
        left: 0;
        width: 60%;
        max-width: 44rem;
        padding: 0;
        background: none; }
      .project--featured br {
        display: none; } }
  @media screen and (min-width: 64.063em) {
    .project--featured {
      height: 37rem; }
      .project--featured .project__copy {
        left: 8%; } }
  @media screen and (min-width: 64.063em) {
    .project--featured {
      height: 37rem; } }

.project--featured__badge {
  position: absolute;
  width: 9rem;
  height: 9rem;
  top: -4.5rem;
  left: calc(50% - 4.5rem);
  font-weight: 900;
  line-height: 9rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #f16322; }

@media screen and (min-width: 40.063em) {
  .project--img-left .project__img {
    float: left; }
    .project--img-left .project__img img {
      float: right; }
  .project--img-left.dormant img {
    -webkit-transform: translateX(-15rem);
    -moz-transform: translateX(-15rem);
    -ms-transform: translateX(-15rem);
    -o-transform: translateX(-15rem);
    transform: translateX(-15rem);
    opacity: 0; } }

@media screen and (min-width: 40.063em) {
  .project--img-right .col {
    margin-right: -5% !important; }
  .project--img-right .col:first-child {
    width: 40%;
    float: right; }
  .project--img-right .col:nth-child(2) {
    float: left; }
  .project--img-right .project__copy {
    right: -10%;
    width: 110%; }
  .project--img-right img {
    margin-left: 10px; }
  .project--img-right.dormant img {
    -webkit-transform: translateX(15rem);
    -moz-transform: translateX(15rem);
    -ms-transform: translateX(15rem);
    -o-transform: translateX(15rem);
    transform: translateX(15rem);
    opacity: 0; } }
@media screen and (min-width: 64.063em) {
  .project--img-right .col {
    margin-right: -10% !important; }
  .project--img-right .project__copy {
    right: -15%;
    width: 105%; } }

.project__img {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.project__copy {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }
  .project__copy h2 {
    margin: 0 0 1rem;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.1; }
  .project__copy p {
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5; }
  @media screen and (min-width: 40.063em) {
    .project__copy p {
      max-width: 51rem; } }

.project__img, .project__copy {
  width: 100%;
  float: left; }
  @media screen and (min-width: 40.063em) {
    .project__img, .project__copy {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); } }

.project-01 {
  background-image: url(../images/projects/project01.jpg); }
  @media screen and (max-width: 40em) {
    .project-01 .wrapper {
      width: 100%; } }
  @media screen and (min-width: 64.063em) {
    .project-01 {
      background-size: 110%; } }
  @media screen and (min-width: 90.063em) {
    .project-01 {
      background-size: 100%; } }

.project-04 .project__img {
  margin-bottom: 1.7rem; }
@media screen and (min-width: 40.063em) {
  .project-04 .project__img {
    margin-left: -3rem; } }

.contact-info {
  font-size: 1.5rem; }
  .contact-info h2 {
    margin: 0 0 2rem;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.1; }
  .contact-info .btn {
    width: 100%;
    max-width: 30rem; }
  .contact-info .block--img, .contact-info .project--featured {
    height: 42rem; }
  .contact-info .block--img__img {
    background-image: url(../images/contact/footer-bg.jpg);
    background-position: right center; }

.contact-info__copy {
  max-width: 35rem; }
  .contact-info__copy:after {
    content: "";
    display: table;
    clear: both; }

.contact-info__links {
  margin-top: 2.3rem; }
  .contact-info__links li {
    margin: 0 3.2rem 1.1rem 0; }

.page-header--subpage {
  padding: 8rem 0 5rem; }
  @media screen and (min-width: 40.063em) {
    .page-header--subpage {
      padding: 11rem 0 8rem; } }

.page-header--subpage__copy {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  color: #333333; }
  .page-header--subpage__copy h1 {
    font-size: 6rem; }
  .page-header--subpage__copy p {
    width: 100%;
    max-width: 70rem;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.6; }

.error .page-header--subpage {
  height: 40rem;
  margin: 0;
  padding: 0; }
.error h1 {
  margin-left: 0; }
.error .response {
  font-weight: 100;
  color: #aaa;
  display: inline-block; }
