<footer class="site-footer">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <div class="site-footer__location">
          <div class="logo logo--footer"></div>
          <p>
            4000 E 3<span>rd</span> Ave, 3<span>rd</span> Floor<br>
            Foster City, CA 94404
          </p>
          <p>
            650-539-2603
          </p>
        </div>
      </div>
      <div class="col">
        <div class="site-footer__social-icons">
          <a href="http://twitter.com/techshed" target="_blank" class="icon icon-twitter"></a>
          <a href="https://www.facebook.com/techshed" target="_blank" class="icon icon-facebook"></a>
          <a href="https://www.youtube.com/user/techshed" target="_blank" class="icon icon-youtube"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
