<header>
  <div class="wrapper">
    <section class="header-copy">
      <h1>Make<span class="comma">,</span> Build<span class="comma">,</span> Do</span></h1>
      <p>We make meaningful interactive products that help homeowners and  home improvement professionals build their dreams.</p>
      <a href="#" class="btn btn-large btn-white">Join Us</a>
    </section>
    <div class="bg-img">

    </div>

  </div>
</header>

<div class="row">
  <div class="wrapper">
    <div class="block full-width">
      <p class="pullquote serif">Aside from solving real life problems for our customers, we enjoy local and international food, celebrating birthdays, ping pong, FIFA tournaments, movie nights, games shows, snacking and beer fridays.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="block full-width bg-img home01">
    <div class="wrapper">
      <p class="pullquote sans-serif">Located where land meets water on the edge of the San Francisco Bay peninsula, you’ll catch us gazing upon mountain ranges, cityscapes, and cargo ships passing by through our 180 degrees office view. We have an array of breakaway workspaces along with our 2500 sqft. open co-op area.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="block half-width bg-img home02"></div>
  <div class="block half-width">
    <div class="block-copy-content">
      <h2>Our Jobs</h2>
      <p class="serif">Learn how you can help people by building, working passionately, and Changing an industry. We're currently hiring for a variety of positions. Take a look.</p>
      <a href="#" class="btn btn-large btn-black">View Jobs</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="block bg-img full-width home03"></div>
</div>

<div class="row">
  <div class="block half-width bg-img home04"></div>
  <div class="block half-width bg-img home05"></div>
</div>
