<nav role="navigation" class="nav-primary">
  <div class="wrapper">
    <a href="#" class="logo"><img src="images/global/techshed-logo.png" alt="Techshed - part of The Home Depot">Techshed</a>
    <div class="nav-primary__links">
      <a href="#">Jobs</a>
      <a href="#">Culture</a>
      <a href="#">Story</a>
      <a href="#">Projects</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </div>
    <!-- /nav-primary__links -->
  </div>
  <!-- /wrapper -->
</nav>
<!-- /nav-primary -->
