.btn{
  @extend %no-select;
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  border-radius: .5rem;
  border-width: .24rem;
  border-style: solid;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  background-image: none !important;
}
.btn--white{
  color: #fff;
  border-color: #fff;

  &:hover{
    border-color: rgba(255,255,255,0.7);
  }
  &:active{
    border-color: rgba(255,255,255,0.5);
  }
}
.btn--black{
  color: $body-copy-color;
  border-color: $body-copy-color;

  &:hover{
    border-color: rgba($body-copy-color,0.7);
  }
  &:active{
    border-color: rgba($body-copy-color,0.5);
  }
}
