.btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  color: #444;
  text-align: center;
  white-space: nowrap;
  border-radius: .4rem;
  border-width: .2rem;
  border-style: solid;
  border-color: #fff;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;

  &.btn-large{
    padding: .9rem 7rem;
    font-size: 1.6rem;
    font-weight: 800;
  }
  &.btn-black{
    color: #444;
    border-color: #444;
  }
  &.btn-white{
    border-color: #fff;
    color: #fff;
  }
}
