.btn{
  display: inline-block;
  margin-bottom: 0;
  padding: 1rem 0;
  font-weight: 900;
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  border-radius: .4rem;
  border-width: .24rem;
  border-style: solid;
  border-color: #fff;
  background-image: none;
  vertical-align: middle;
  cursor: pointer;
  background-image: none !important;

  &.btn--large{

  }
  &.btn--black{
    color: #444;
    border-color: #444;
  }
  &.btn--white:hover, &.btn--white:active{
    color: #fff;
    border-color: rgba(255,255,255,0.8);
  }
  &.btn--black:hover, &.btn--black:active{
    color: #444;
    border-color: rgba(0,0,0,0.8);
  }
}
