.contact{
  .break-sm{
    display: none;
  }
  /* X-LARGE: 1441px min */
  @include respond-to(x-lg-screen) {
    .break-sm{
      display: block;
    }
  }
}

.contact-info{
  font-size: 1.5rem;

  h2{
    margin: 0 0 2rem;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.1;

    span{
      @extend %superscript;
    }
  }
  .btn{
    width: 100%;
    max-width: 30rem;
  }

  .block--img{
    height: 42rem;
  }

  .block--img__img{
    background-image: url(../images/contact/footer-bg.jpg);
  }
}

.contact-info__copy{
  @include clearfix;
  @extend %vertical-align;
  max-width: 35rem;
}

.contact-info__links{
  @extend %inline-list;
  margin-top: 2.3rem;

  li{
    margin: 0 3.2rem 1.1rem 0;
  }
}
