.contact{
  .break-sm{
    display: block;
  }
  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .break-sm{
      display: none;
    }
  }
}

.contact-footer{
  background-image: url(../images/contact/footer-bg.jpg);
  font-size: 1.5rem;
  height: 40rem !important;
  background-position: 27% 0px !important;
  padding-top: 6%;

  h2{
    margin: 0 0 2rem;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .col{
    @include span-columns(6);
  }
  .btn{
    width: 100%;
    margin: 0 0 2rem;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    background-position: center center;
  }
}

.contact-footer__copy{
  @include clearfix;
  @extend %vertical-align;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    @include span-columns(8);
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    @include span-columns(7);

    h2{
      width: 100%;
    }
  }
  // X-LARGE: 1025px min
  @include respond-to(x-lg-screen) {
    @include span-columns(6);
  }
}
