.contact{
  .break-sm{
    display: block;
  }
  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .break-sm{
      display: none;
    }
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .block-copy-container{
      top: 2rem;
      h2{
        width: 100%;
      }
    }
  }
}

.contact-footer{
  background-image: url(../images/contact/footer-bg.jpg);
  font-size: 1.5rem;
  height: 40rem !important;
  background-position: 27% 0px !important;

  h2{
    margin: 0 0 2rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .col{
    @include span-columns(6);
  }
  .btn{
    width: 100%;
    margin: 0 0 2rem;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    background-position: center center;

    .block-copy-container{
      @include span-columns(8);
      top: 50%;
    }
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {

    .block-copy-container{
      @include span-columns(7);
    }
  }
  // X-LARGE: 1025px min
  @include respond-to(x-lg-screen) {

    .block-copy-container{
      @include span-columns(6);
    }
  }
}
