.error{
  .page-header--subpage{
    height: 50rem;
    margin: 0;
    padding: 0;
  }

  h1{
    margin-left: 0;
  }

  h1 span{
    font-weight: 100;
    color: #aaa;
    font-family: consolas;
    display: inline-block;
    font-size: 110%;
  }
  .page-header__copy{
    margin-top: -8rem;
  }
}
