// Avenir
@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir-book.eot?#iefix") format("eot"),
    url("../fonts/avenir-book.woff") format("woff"),
    url("../fonts/avenir-book.ttf") format("truetype"),
    url("../fonts/avenir-book.svg") format("svg");
    font-weight: 300;
}
@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir-heavy.eot?#iefix") format("eot"),
    url("../fonts/avenir-heavy.woff") format("woff"),
    url("../fonts/avenir-heavy.ttf") format("truetype"),
    url("../fonts/avenir-heavy.svg") format("svg");
    font-weight: 600;
}
@font-face{
    font-family:"Avenir";
    src:url("../fonts/avenir-black.eot?#iefix") format("eot"),
    url("../fonts/avenir-black.woff") format("woff"),
    url("../fonts/avenir-black.ttf") format("truetype"),
    url("../fonts/avenir-black.svg") format("svg");
    font-weight: 900;
}
