html, body{
  height: 100%;
}
html{
  // @extend %debug-layout;
  @include respond-to(handhelds) { font-size: 62.5%; }
  @include respond-to(md-screen) { font-size: 72%; }
  @include respond-to(lg-screen) { font-size: 80%; }
  @include respond-to(x-lg-screen) { font-size: 100%; }
  @include respond-to(xx-lg-screen) { font-size: 120%; }
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  // text-rendering: optimizeLegibility;
}
body{
  @extend %sans-serif;
  // fix hairline margins
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: $body-copy-color;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background: $homedepot-orange; /* Safari */
    color: #fff;
  }
  ::-moz-selection {
    background: $homedepot-orange; /* Firefox */
    color: #fff;
  }
}

a{
  color: darken($homedepot-orange, 20%);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// used to disable transitions during window resize
.no-transitions *{
  @include transition(none !important);
}


.hidden{
  visibility: hidden;
  opacity: 0;
}

// nprogress bar
#nprogress{
  z-index: 1;

  .bar {
    background: $homedepot-orange;
    height: .2rem;
  }
  .peg, .spinner{
    display: none;
  }
}

// displayed only if browser < IE10
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// page container
[id^=page]{
  @extend %fade-transition;
  @extend %backface-hidden;
  @extend %hwa;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  background: #fff;

  // content window states
  &.is-hidden{
    opacity: 0;
    z-index: 0;
    height: 100%;
    overflow: hidden;
    position:fixed !important;
  }
  &.is-visible{
    opacity: 1;
    z-index: 1;
  }
}

// pages container
#page-container{
  @extend %fade-transition;
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 0;

  &.no-scroll{
    @extend %no-transition;
    height: 100% !important;
    overflow: hidden;
  }
}

// page header
.page-header{
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding-top: $primary-nav-height;

  h1{
    @extend %sans-serif;
    @extend %default-cursor;
    padding: 0;
    margin: 0 0 0 -.4rem;
    font-weight: 900;
    line-height: .8;
    letter-spacing: -0.1rem;
  }
  p{
    width: 82%;
    font-size: 2.1rem;
  }
  .btn{
    width: 100%;
    max-width: 30rem;
  }
}
.page-header__copy{
  @extend %vertical-align;
  width: 100%;
  z-index: 1;

  .subpage &{
    max-width: 87rem;
  }
}

// layout
.wrapper{
  @include outer-container;
  position: relative;
  height: 100%;
  width: 90%;
}
.row{
  position: relative;
  float: left;
  width: 100%;
  // hairline gap fix
  margin-bottom: -2px;
  background-color: #fff;
}
.block{
  position: relative;
  float: left;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.block--img{
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;

  a{
    @include svelte-underline(light, normal, hover);
  }
}
.block--img__img{
  position: absolute;
  top: 0;
  // ensure full-bleed
  left: -1%;
  width: 102%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.block--quote{
  padding: 11rem 0;
}
.block--tall{
  // enable relative/fluid sizing
  &:before{
    content: '';
    display: block;
    padding-top: 100%;
  }
  @include respond-to(md-screen) {
    width: 50%;
  }
}
.block--wide{
  height: 30rem;
  width: 100%;
  background-position: center right;
  @include respond-to(lg-screen) {
    height: 46rem;
  }
}

// logo component
.logo{
  @extend %no-select;
  width: 12rem;
  height: 3rem;
  left: 0;
  margin: 0;
  padding: 0;
}
.logo__mark, .logo__type{
  vertical-align: middle;
  display: inline-block;
}
.logo__mark{
  max-width: 25%;
  border: 1px solid white;
}
.logo__type{
  width: 70%;
  height: 100%;
  background-image: url("../images/global/techshed-logo-type.png");
  background-size: 200% 53%;
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 1%;

  .subpage &{
    background-position: left;
  }
}

// type relatefd
h4{
  margin: 0;
}
.quote{
  max-width: 76rem;
  position: relative;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.quote--sans-serif{
  @extend .quote;
  @extend %sans-serif;
  font-weight: 900;
  line-height: 1.48;
  color: #fff;
}
.quote--serif{
  @extend .quote;
  @extend %serif;
}

// used to reveal text once fonts are loaded (hacky, needs better fallback)
p, h1, h2, h3, h4, .purpose, .logo, .nav-primary__link{
  @extend %fade-transition;
  opacity: 0;

  .wf-active &{
    opacity: 1;
  }
}
