* {
  @include backface-visibility(hidden);
  ::selection {
    background: opacify($techshed-orange, .2); /* Safari */
    color: #fff;
    }
  ::-moz-selection {
    background: opacify($techshed-orange, .2); /* Firefox */
    color: #fff;
  }
}
html, body{
  height: 100%;
}
html{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body{
  @extend %sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #333;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: darken($techshed-orange, 20%);
  text-decoration: none;

  &:hover{
    color: darken($techshed-orange, 30%);
  }
  &:active{
    color: darken($techshed-orange, 40%);
  }
}

.check-if-mobile{
  @include media(max-width $bp-med, 1) {
    display: none;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden{
  opacity: 0 !important;
}

.serif{
  @extend %serif;
}
.sans-serif{
  @extend %sans-serif;
}

.wrapper{
  @include outer-container;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.page-content{
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;

  & > header{
    @include clearfix;
    position: relative;
    float: left;
    width: 100%;
    margin: 0;

  }
  @include media(max-width $bp-small-2, 1) {
    & > header{
      height: rem(480px);
    }
  }
}

.nav-primary{
  position: relative;
  float: left;
  width: 100%;
  height: 5rem;
  background: $techshed-orange;
  z-index: 99;

  .logo{
    img{
      max-width: 100%;
    }
    width: 12rem;
    color: transparent;
    font: 0/0 a;
  }
  .logo, .nav-primary__links{
    @extend %vertical-align;
    position: absolute;
  }
  .logo{
    left: 0;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  .nav-primary__links{
    text-align: right;
    right: 0;
    display: none;

    a{
      display: inline-block;
      padding: .8rem 1rem;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  @include media(max-width $bp-small-2, 1) {
    .logo{
      width: 10rem;
    }
    .nav-primary__links{
      display: none;
    }
  }
  /* TABLET: min-width 641px and max-width 1024px */
  @include media(min-width 40.063em, max-width 64em) {
    .logo{

    }
    .nav-primary__links{
      a{

      }

    }
  }
}

.row{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}

.block{
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0;

  &.block-img{
    background-size: cover;
    background-position: center center;
  }
  &.block-img-tall, &.our-jobs{
    height: 38rem;
  }
  &.block-img-wide{
    height: 20rem;
  }
  @include media(min-width 40.063em, max-width 64em) {
    &.block-img-tall, &.our-jobs{
      width: 50%;
      height: 42rem;
    }
    &.our-jobs{

      padding: 0;
    }
  }
}

.block-copy-container{
  @extend %vertical-align;
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: left;

  h2{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 1.06;
    font-weight: 900;
    width: 30%;
  }
  p{
    font-size: 1.9rem;
    line-height: 1.7;
    margin: 1.8rem 0 2.2rem;
  }
  .btn{
    width: 100%;
  }
}

.pullquote{
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.6;
  font-weight: 500;
  padding: 4rem 0;

  &.sans-serif{
    font-weight: 900;
    color: #fff;
    line-height: 1.48;
    font-size: 900;
    font-size: 2.2rem;
  }
}
