* {
  ::selection {
    background: $homedepot-orange; /* Safari */
    color: #fff;
    }
  ::-moz-selection {
    background: $homedepot-orange; /* Firefox */
    color: #fff;
  }
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body{
  height: 100%;
}
html{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  // SMALL: 641px min
  @include respond-to(handhelds) { font-size: 62.5%; }
  // MEDIUM: 641px min
  @include respond-to(medium-screens) { font-size: 75%; }
  // LARGE: 1025px min
  @include respond-to(large-screens) { font-size: 85%; }
  // X-LARGE: 1441px min
  @include respond-to(x-large-screens) { font-size: 95%; }
  // XX-LARGE 1921px min
  @include respond-to(xx-large-screens) { font-size: 105%; }
}
body{
  @extend %sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #444;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: darken($homedepot-orange, 20%);
  text-decoration: none;
}

.hidden{
  display: none;
}
.invisible{
  opacity: 0;
}

// NProgress Bar
#nprogress .bar {
  background: $homedepot-orange;
  height: 2px;
}
#nprogress .peg {
  display: none;
}
#nprogress .spinner {
  display: none;
}

.check-if-mobile{
  // MEDIUM: 641px min
  @include respond-to(medium-screens) { display: none; }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper{
  @include outer-container;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

// primary view window for pages
#page-window{
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;
  margin-top: -5rem;
  padding-top: 5rem;

  &.no-scroll{
    height: 100%;
    overflow: hidden;
  }
}

.page-header{
  @include clearfix;
  position: relative;
  float: left;
  height: rem(740px);
  width: 100%;
  margin: 0;
  margin-top: -5rem;
  padding-top: 5rem;

  h1{
    @extend %sans-serif;
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.45rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: .8;
  }
  p{
    width: 82%;
    font-size: 2rem;
    line-height: 1.6;
  }
  .comma, .break-sm{
    @extend %ghost-block;
  }
  .break-sm{
    display: none;
  }
  .btn{
    width: 100%;
  }
}
.page-header__copy{
  @extend %vertical-align;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.page-header__bg{
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 0;
}

// layout containers
.row{
  position: relative;
  float: left;
  width: 100%;
}
.block{
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0;
}
.block--img{
  @extend .block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;

  a{
    // props to Marcin Wichary @ Medium.com for this fancy text underline method
    // https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
    @include linear-gradient(to bottom, rgba(255,255,255, 0) 50%, rgba(255,255,255, 0.6) 50%);
    color: #fff;
    background-size: 2px 2px;
    background-position: 0 1.6rem;
    background-repeat: repeat-x;

    &:hover, &:active{
      color: rgba(255,255,255,0.8);
    }
  }
}
.block--tall{
  @extend .block;
  height: 38rem;

  // MEDIUM: 641px min
  @include respond-to(medium-screens) {
    width: 50%;
    height: 42rem;
  }
}
.block--wide{
  @extend .block;
  height: 30rem;
  background-position: center right;

  // MEDIUM: 641px min
  @include respond-to(medium-screens) { height: 42rem; }
}


// Type
h4{
  margin: 0;
}
.pullquote{
  @extend %serif;
  font-weight: 300;
  line-height: 1.6;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 0;
  font-size: 2rem;

  &.sans-serif{
    @extend %sans-serif;
    color: #fff;
    font-weight: 900;
    line-height: 1.48;
  }
}
