* {
  ::selection {
    background: $homedepot-orange; /* Safari */
    color: #fff;
  }
  ::-moz-selection {
    background: $homedepot-orange; /* Firefox */
    color: #fff;
  }
}
html, body{
  height: 100%;
}
html{
  // SMALL: 641px min
  @include respond-to(handhelds) { font-size: 62.5%; }
  // MEDIUM: 641px min
  @include respond-to(md-screen) { font-size: 75%; }
  // LARGE: 1025px min
  @include respond-to(lg-screen) { font-size: 85%; }
  // X-LARGE: 1441px min
  @include respond-to(x-lg-screen) { font-size: 104%; }
  // XX-LARGE 1921px min
  @include respond-to(xx-lg-screen) { font-size: 130%; }
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body{
  @extend %sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: $body-copy-color;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: darken($homedepot-orange, 20%);
  text-decoration: none;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    // @include transition(color .1s $ease-in-out-quad);
  }
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// nprogress bar
#nprogress{
  .bar {
    background: $homedepot-orange;
    height: .2rem;
  }
  .peg, .spinner{
    display: none;
  }
}

// displayed if browser < IE10
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

// used to disable transitions during window resize
.no-transitions *{
  @include transition(none !important);
}

.logo{
  @extend %no-transition;
  @extend %no-select;
  background-image: url('../images/global/techshed-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  width: 12rem;
  height: 3rem;
  left: 0;
  margin: 0;
  padding: 0;
  font: 0/0 a;
  font-size: 3rem;
  color: transparent;

  .subpage &{
    background-position: left bottom;
  }
}

.logo--footer{
  display: inline-block;
  background-image: url('../images/global/techshed-logo-type.png');
  background-size: contain;
  width: 11rem;
  height: 2.1rem;
  margin-bottom: $baseline-spacing-soft;
}

// primary view window for pages
#page-window{
  @extend %fade-transition;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: -$primary-nav-height;
  padding-top: $primary-nav-height;
  margin-bottom: $baseline-spacing-hard;
  overflow: hidden;

  &.no-scroll{
    height: 100%;
    @include transition(none);
    overflow: hidden;
  }
  &.is-transitioning{
    opacity: 0;
  }
}
.page-header{
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  margin-top: -$primary-nav-height;
  padding-top: $primary-nav-height;

  h1{
    @extend %sans-serif;
    @extend %default-cursor;
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.4rem;
    font-weight: 900;
    line-height: .8;
    font-size: 6rem;
  }
  p{
    width: 82%;
    font-size: 2.1rem;
    line-height: 1.6;
  }
  .comma, .break-sm{
    @extend %ghost-block;
  }
  .break-sm{
    display: none;
  }
  .btn{
    width: 100%;
    max-width: 30rem;
  }
}
.page-header__copy{
  @extend %vertical-align;
  width: 100%;
  z-index: 1;
  margin-top: 1.8rem;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    margin-top: 2.3rem;
  }
}
.page-header__bg{
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 0;
}

// layout containers
.wrapper{
  @include outer-container;
  position: relative;
  height: 100%;
  width: 90%;
}
.row{
  position: relative;
  float: left;
  width: 100%;

  // iOS 1px gap fix
  margin-bottom: -1px;
}
.block{
  @extend %slower-transition;
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0;

  &.dormant p{

  }
}
.block--img{
  @extend .block;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;

  a{
    @include svelte-underline(light, normal);
  }
  .pullquote{
    padding: 13rem 0;
  }
}
.block--img__img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
.block--tall{
  @extend .block;
  height: 40rem;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    width: 50%;
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    height: 46rem;
  }
  // X-LARGE: 1441px min
  @include respond-to(x-lg-screen) {
    height: 56rem;
  }
  // XX-LARGE 1921px min
  @include respond-to(xx-lg-screen) {
    height: 60rem;
  }
}
.block--wide{
  @extend .block;
  height: 30rem;
  width: 100%;
  background-position: center right;

  // MEDIUM: 641px min
  @include respond-to(md-screen) { }
  // LARGE: 641px min
  @include respond-to(lg-screen) { height: 46rem; }
  // X-LARGE: 641px min
  @include respond-to(x-lg-screen) { }
  // XX-LARGE: 641px min
  @include respond-to(xx-lg-screen) { }
}

// type related
h4{
  margin: 0;
}
.pullquote{
  max-width: 74rem;
  margin: 0 auto;
  padding: 10rem 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;

  &.sans-serif{
    @extend %sans-serif;
    font-weight: 900;
    line-height: 1.48;
    color: #fff;
  }
}

.page-footer{
  @extend %fade-transition;
  @extend .row;
  @include clearfix;
  font-size: 1.6rem;
  font-weight: 900;

  .row{
    text-align: center;
    margin-bottom: $baseline-spacing-hard;
  }
  .col{
    @include clearfix;
    height: 100%;
    float: left;
    width: 100%;

    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      width: 50%;
    }
  }
}

.page-footer__location{
  margin-bottom: $baseline-spacing-hard;

  p{
    margin: 0 0 $baseline-spacing-soft;

    span{
      @extend %superscript;
    }
  }
  a{
    color: #444;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    text-align: left;
    margin-bottom: 0;

    p:last-child{
      margin-bottom: 0;
    }
  }

}
.page-footer__social-icons{
  position: relative;
  float: left;
  font-weight: normal;
  text-align: center;
  font-size: 3.2rem;
  width: 100%;

  a{
    color: $body-copy-color;
    margin: 0 0.6rem;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    margin-top: 9.5rem;
    font-size: 2.6rem;
    text-align: right;
  }
}
.repo-link{
  font-size: 1.4rem;

  span{
    color: lighten($body-copy-color, 30%);
    padding: 0 .3rem;
    font-weight: 600;
  }
  a{
    @include svelte-underline(dark, normal);
    color: lighten($body-copy-color, 30%);
  }
}

