* {
  ::selection {
    background: opacify($techshed-orange, .2); /* Safari */
    color: #fff;
    }
  ::-moz-selection {
    background: opacify($techshed-orange, .2); /* Firefox */
    color: #fff;
  }
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body{
  height: 100%;
}
html{
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
body{
  @extend %sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #444;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h4{
  margin: 0;
}
a{
  color: darken($techshed-orange, 20%);
  text-decoration: none;

  &:hover{
    color: darken($techshed-orange, 30%);
  }
  &:active{
    color: darken($techshed-orange, 40%);
  }
}

.hidden{
  display: none;
}
.invisible{
  opacity: 0;
}

.check-if-mobile{
  /* MEDIUM: 641px min */
  @include media(min-width 40.063em) {
    display: none;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper{
  @include outer-container;
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

#page-window{
  @include clearfix;
  position: relative;
  float: left;
  width: 100%;

  &.no-scroll{
    @include calc(height, '100% - 5rem');
    overflow: hidden;
  }
}

.page-header{
  @include clearfix;
  position: relative;
  float: left;
  height: rem(660px);
  width: 100%;
  margin: 0;

  .header-copy{
    @extend %vertical-align;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .header-bg{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 0;
  }
  h1{
    @extend %sans-serif;
    width: 100%;
    padding: 0;
    margin: 0 0 0 -.48rem;
    font-weight: 800;
    font-size: 6rem;
    line-height: .8;
  }
  p{
    font-size: 1.8rem;
    width: 82%;
    line-height: 1.6;
  }

  .comma, .break-sm{
    @extend %ghost-block;
  }
  .break-sm{
    display: none;
  }
  .btn{
    width: 100%;
  }
}

.row{
  position: relative;
  float: left;
  width: 100%;
}

.block{
  position: relative;
  float: left;
  margin: auto;
  width: 100%;
  padding: 3.2rem 0;

  &.block-img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
  }
  &.block-tall{
    height: 38rem;
  }
  &.block-img-wide{
    height: 30rem;
    background-position: center right;
  }
  @include media(min-width 40.063em) {
    &.block-tall{
      width: 50%;
      height: 42rem;
    }
    &.block-img-wide{
      height: 50rem;
    }
  }
}

.block-copy-container{
  @extend %vertical-align;
  position: relative;
  margin: 0 auto;
  text-align: left;

  h2{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 1.06;
    font-weight: 900;
    width: 30%;
  }
  p{
    font-size: 1.9rem;
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 50%;
  }
  .btn{
    width: 100%;
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {
    .btn{
      width: auto;
    }
  }
}

.pullquote{
  @extend %serif;
  max-width: 80rem;
  padding: 4rem 0;
  margin: 0 auto;
  font-size: 1.9rem;
  line-height: 1.6;
  font-weight: 500;

  &.sans-serif{
    font-weight: 900;
    color: #fff;
    line-height: 1.48;
    font-size: 900;
    font-size: 2.2rem;
  }
}

.nav-primary{
  float: left;
  width: 100%;
  height: 5rem;
  z-index: 99;

  .logo{
    img{ max-width: 100%; }
    width: 12rem;
    left: 0;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    font-size: 3rem;
    color: transparent;
  }
  .logo, .nav-primary__menu--lg{
    @extend %vertical-align;
    position: absolute;
  }
  .nav-toggle{
    text-align: right;
    float: right;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .nav-primary__menu{
    @include calc(height, '100% - 5rem');
    @extend %midspeed-transition;
    position: absolute;
    width: auto;
    top: 5rem;
    right: 0;
    left: 0;
    min-height: 40rem;
    text-align: center;
    z-index: 999;
    display: none;

    .nav-primary__link{
      @extend %midspeed-transition;
      display: block;
      background: #222;
      float: left;
      color: #fff;
      font-size: 3rem;
      font-weight: 900;
      opacity: 1;
      width: 100%;
      height: 25%;

      &:hover{
        background: #111;
      }
      &:active{

      }

      span{
        @extend %vertical-align;
        display: inline-block;
      }

      @for $item from 1 through 4{
        &:nth-child(#{$item}){
          transition-delay: #{$item/ 13}s;
        }
      }
    }
    &.is-hidden{
      opacity: 0;

      .nav-primary__link{
        opacity: 0;
      }
    }
  }
  .nav-primary__menu--lg{
    text-align: right;
    right: 0;
    display: none;

    a{
      display: inline-block;
      padding: .8rem 1rem;
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;

      &.active{
        border-bottom: 1px solid #444;
      }
    }
  }
  // MEDIUM: 641px min
  @include media(min-width 40.063em) {
    .nav-toggle{
      display: none;
    }
    .nav-primary__menu--lg{
      display: block;
    }
  }
}

// Subpage-specific styles
.subpage{
  .nav-toggle, .nav-primary__menu--lg a{
    color: #444;
  }
  .page-header p{
    @extend %serif;
  }
}
