.home{

  .page-header{
    background-color: #FAA568;
    background-image: url(../images/home/header-bg.jpg);
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;

    p{
      @extend %sans-serif;
      margin: 1rem 0 1.8rem;
      font-weight: 900;
      line-height: 1.3;
      width: 100%;
      max-width: 36rem;
    }


    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      background-image: none;
      height: auto;
      max-height: 53rem;

      &:before{
        content: '';
        display: block;
        margin-top: 64%;
      }
      h1{
        width: 102%;
        margin-left: -.4rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
        height: auto;
        margin-right: -.5rem;
      }
      .btn{
        max-width: 26rem;
      }
    }

    // LARGE: 1025px min
    @include respond-to(lg-screen) {
      max-height: 65rem;

      &:before{
        margin-top: 54%;
      }
      h1{
        width: 102%;
        margin-left: -.7rem;
      }
    }

    // X-LARGE: 1441px min
    @include respond-to(x-lg-screen) {
      max-height: rem(1100px);

      h1{
        margin-left: -.8rem;
      }
    }

    // XX-LARGE 1921px min
    @include respond-to(xx-lg-screen) {
      max-height: rem(1400px);

      &:before{
        margin-top: 50%;
      }

      h1{
        margin-left: -1rem;
      }
      p{
        margin: 1.5rem 0 2rem;
      }
    }
  }

  .page-header__copy{
    color: #fff;
    margin-top: -1rem;

    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      margin-top: 1rem;
    }
  }
}

.video-bg{
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  right: 0;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    display: block;
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    height: 111%;
  }
  // X-LARGE: 1441px min
  @include respond-to(x-lg-screen) {
    height: rem(1150px);
  }
  // XX-LARGE: 1921px min
  @include respond-to(xx-lg-screen) {
    height: 120%;
  }
}

// culture block
.culture{
  padding: 5rem 0;

  p:first-letter{
    font-size: 340%;
    line-height: 0;
    display: inline-block;
    float: left;
    padding: 3.1rem 0.5rem 1rem 1rem;

    // firefox fix
    @-moz-document url-prefix() {
      padding: 0.2rem 0.3rem 0.8rem 0.6rem;
    }
  }
}

// our jobs block
.our-jobs{
  @extend %vertical-align;
  max-width: 38rem;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left;

  h2{
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%;
  }
  p{
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
  }
  .btn{
    width: 100%;
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    max-width: 47rem;

    .btn{
      max-width: 25rem;
    }
  }
}

// Home Block Styles
.home01{
  background-image: url(../images/home/home01.jpg);
}
.home02{
  background-image: url(../images/home/home02.jpg);
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}


// Benefits
.benefits{

  .wrapper{
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;

  }
  .col{
    float: left;
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 2rem 0;
    text-align: center;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {

    .col{
      width: 33.333333%;
      margin-right: 0;
    }
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {

    .col{
      width: 25%;
      margin-right: 0;
    }
  }
}

.benefits__item{
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: .2rem solid #fff;

  p{
    @extend %vertical-align;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    margin: 4.4%;
    width: 12rem;
    height: 12rem;
  }
}
