.home{

  .nav-primary{
    background-color: transparent;
  }

  .page-header{
    background-color: #E1AB68;
    background-image: url(../images/home/header-bg.jpg);
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;

    h1{
      width: 30%;

    }
    p{
      @extend %sans-serif;
      width: 100%;
      margin: 1rem 0 1.8rem;
      font-weight: 900;
      line-height: 1.3;
    }
    // MEDIUM: 641px min
    @include respond-to(medium-screens) {
      height: rem(800px);

      background-image: none;

      .comma{
        height: auto;
      }
      h1{
        width: 102%;
        margin-left: -.4rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
        margin-right: -.5rem;
      }
      .btn{
        max-width: 26rem;
      }
      .break-sm{
        display: block;
      }
    }
    // LARGE: 1025px min
    @include respond-to(large-screens) {
      height: rem(850);

      h1{
        width: 102%;
        margin-left: -.7rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
        margin-right: -.5rem;
      }
      p{
        width: 40rem;
      }
    }
    // X-LARGE: 1441px min
    @include respond-to(x-large-screens) {
      height: rem(1000px);

      h1{
        margin-left: -.8rem;
      }
    }
    // XX-LARGE 1921px min
    @include respond-to(xx-large-screens) {
      height: rem(960px);

      h1{
        margin-left: -1rem;
      }
      p{
        margin: 1.5rem 0 2rem;
      }
    }
  }

  .page-header__copy{
    color: #fff;
    margin-top: -1rem;

    // MEDIUM: 641px min
    @include respond-to(medium-screens) {
      margin-top: 0;
    }
  }
}

.video-bg{
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  // MEDIUM: 641px min
  @include respond-to(medium-screens) {
    display: block;
  }
  // LARGE: 1025px min
  @include respond-to(large-screens) {
    height: 111%;
  }
  // X-LARGE: 1441px min
  @include respond-to(x-large-screens) {
    height: rem(1200px);
  }
  // XX-LARGE: 1921px min
  @include respond-to(xx-large-screens) {
    height: 120%;
  }
}

// culture block
.culture{
  padding: 5rem 0;

  p:first-letter{
    font-size: 340%;
    line-height: 0;
    display: inline-block;
    float: left;
    padding: 3.1rem .2rem 1rem .6rem;

    // firefox fix
    @-moz-document url-prefix() {
      padding: 0.2rem 0.3rem 0.8rem 0.6rem;
    }

  }
}

// our jobs block
.our-jobs{
  @extend %vertical-align;
  max-width: 38rem;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left;

  h2{
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%;
  }
  p{
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
  }
  .btn{
    width: 100%;
  }

  // LARGE: 1025px min
  @include respond-to(large-screens) {
    max-width: 47rem;

    .btn{
      max-width: 20rem;
    }
  }

}

// Home Block Styles
.home01{
  background-image: url(../images/home/home01.jpg);
}
.home02{
  background-image: url(../images/home/home02.jpg);
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}


// Benefits
.benefits{
  @include clearfix;
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;

  // MEDIUM: 641px min
  @include respond-to(medium-screens) {
    width: 100%;
  }
}

.benefits__item{
  float: left;
  height: 10rem;
  width: 10rem;
  margin: 5.5%;
  border-radius: 50%;
  border: .2rem solid #fff;

  p{
    @extend %vertical-align;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff;
  }

  // MEDIUM: 641px min
  @include respond-to(medium-screens) {
    margin: 4.4%;
  }
}


