.page-header--home{
  @extend .page-header;
  background-color: #FBAB69;
  overflow: hidden;
  height: 52rem;

  @include respond-to(md-screen) {
    height: auto;
    max-height: 48rem;

    // enable relative/fluid sizing
    &:before{
      content: '';
      display: block;
      margin-top: 64%;
    }
  }
  @include respond-to(lg-screen) {
    background-image: none;
    max-height: 69rem;

    &:before{
      margin-top: 47.5%;
    }
  }
  @include respond-to(x-lg-screen) {
    max-height: 75rem;
  }
  @include respond-to(xx-lg-screen) {
    max-height: 75rem;
  }
}

.page-header--home__copy{
  @extend %vertical-align;
  position: absolute;
  width: 100%;
  margin-top: 2rem;
  color: #fff;
  z-index: 1;

  // left edge alignment for this type
  h1{
    @extend %fade-transition;
    margin-left: -.5rem;
    font-size: 6rem;
    opacity: 0;
    letter-spacing: -.2rem;
  }
  .comma{
    @extend %ghost-block;
  }

  @include respond-to(md-screen) {
    h1{
      width: 107%;
    }

    .comma{
      opacity: 1;
      display: inline-block;
      height: auto;
      margin-right: -.5rem;
    }
    .btn{
      max-width: 26rem;
    }
  }
  @include respond-to(lg-screen) {
    h1{
      width: 106%;
      margin-left: -.8rem;
    }
  }
  @include respond-to(x-lg-screen) {
    h1{
      margin-left: -.8rem;
    }
  }
  @include respond-to(xx-lg-screen) {

    h1{
      margin-left: -1rem;
    }
  }
}

// instead of <p> to avoid being unorphanized();
.purpose{
  @extend %sans-serif;
  margin: 1.2rem 0 2rem;
  width: 103%;
  max-width: 50rem;
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1.3;
}
.page-header--home__bg{
  position: absolute;
  right: -30%;
  bottom: 0;
  width: 90%;
  height: 77%;
  background-image: url(../images/home/header-bg.jpg);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;

  @include respond-to(md-screen) {
    height: 78%;
    right: 0;
    max-width: 46rem;
    left: 46%;
  }

  @include respond-to(lg-screen) {
    display: none;
  }
}
#video-bg{
  @extend %regular-transition;
  // hide by default for mobile
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(../images/home/video-poster-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &.is-hidden{
    opacity: 0;
  }

  @include respond-to(md-screen) {
    display: block;
  }
  @include respond-to(lg-screen) {
    height: 107%;
  }
  @include respond-to(x-lg-screen) {
    height: 109%;
  }
}

.culture{

  p:first-letter{
    font-size: 309%;
    line-height: 0;
    display: inline-block;
    float: left;
    padding: 3.3rem 0rem 1rem 0rem;

    // firefox fix
    @-moz-document url-prefix() {
      padding: 0.2rem 0.3rem 0.8rem 0.6rem;
    }
  }
}

.our-jobs .block--tall{
    min-height: 40rem;
    max-height: 45rem;

  @include respond-to(md-screen) {
    max-height: 45rem;
  }
}
// our jobs block
.our-jobs__copy{
  @extend %vertical-align;
  position: absolute;
  width: 100%;
  padding: 0 9%;
  margin: 0 auto;
  text-align: left;
  color: $body-copy-color;

  h2{
    @extend %default-cursor;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
  }
  p{
    @extend %serif;
    line-height: 1.7;
    margin: 0;
    padding: 1.4rem 0 2rem;
    width: 100%;
    font-size: 1.8rem;
  }
  .btn{
    width: 100%;
    max-width: 25rem;
  }
  @include respond-to(md-screen) {
    padding: 0 12%;
  }
}

// Block-specific Styles
.home01{
  padding: 4rem 0;

  .block--img__img{
    background-image: url(../images/home/home01.jpg);
  }
}

.home02{
  .block--img__img{
    background-image: url(../images/home/home02.jpg);
  }
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}

// Benefits
.benefits{

  .wrapper{
    width: 90%;
    margin: 0 auto;
  }
  .col{
    float: left;
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 2rem 0;
    text-align: center;
  }

  @for $item from 1 through 8{
    .col:nth-child(#{$item}){
      .benefits__item{
        transition-delay: #{$item / 9 }s;
      }
      p{
        transition-delay: #{$item / 5 }s;
      }
    }
  }

  @include respond-to(md-screen) {
    .wrapper{
      max-width: 65rem;
      padding: 3rem 0
    }
    .col{
      width: 33.333333%;
      margin-right: 0;
    }
  }

  @include respond-to(lg-screen) {
    .wrapper{
      max-width: 80rem;
    }
    .col{
      width: 25%;
      margin-right: 0;
    }
  }
}

.benefits__item{
  @extend %slow-transition;
  @extend %backface-hidden;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: .25rem solid rgba(255,255,255,.99);

  p{
    @extend %default-cursor;
    @extend %slow-transition;
    @extend %vertical-align;
    margin: 0;
    opacity: 1;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff;
  }

  @include respond-to(md-screen) {
    margin: 4.4%;
    width: 12rem;
    height: 12rem;
  }

  @include respond-to(lg-screen) {
    .dormant &{
      @include transform(rotateY(120deg) scale(.2));
      border-color: rgba(255,255,255,0);

      p{
        opacity: 0;
      }
    }
  }
}
