#home-video-bg{
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.home{

  // Hero Header
  .page-header{
    background: #E1AB68;
    overflow: hidden;

    .header-bg{
      width: 35rem;
      margin-top: -2.3rem;
      right: -.3rem;
      background-image: url(../images/home/header-tools.jpg);
    }
    .header-copy{
      color: #fff;
      margin-top: -1rem;
    }
    h1{

    }
    p{
      @extend %sans-serif;
      width: 100%;
      margin: 1rem 0 1.8rem;
      font-weight: 900;
      line-height: 1.3;
    }

    // MEDIUM: 641px min
    @include media(min-width 40.063em) {
      height: rem(800px);

      #home-video-bg{
        display: block;
      }
      h1{
        font-size: 9.5rem;
      }
      .header-bg{
        width: 81%;
        right: 0rem;
        margin-top: 3.5rem;
      }
      .header-copy{
        margin-top: 0;
      }
      .btn{
        max-width: 26rem;
      }
      .break-sm{
        display: block;
      }
    }
    // LARGE: 1025px min
    @include media(min-width 64.063em) {
      height: rem(850);

      #home-video-bg{
        height: 111%;
      }
      h1{
        width: 102%;
        margin-left: -.9rem;
      }
      .header-bg{
        right: 4rem;
        width: 54rem;
        margin-top: 0rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
        margin-right: -.5rem;
      }
      p{
        width: 40rem;
      }
    }
    // X-LARGE: 1441px min
    @include media(min-width 90.063em) {
      height: rem(1000px);

      #home-video-bg{
        height: rem(1200px);
      }
      h1{
        margin-left: -.9rem;
      }
      .header-bg{
        right: 8rem;
        margin-top: 0;
        width: 63rem;
      }
      p{

      }
    }
    // XX-LARGE 1921px min
    @include media(min-width 120.063em) {
      height: rem(960px);

      #home-video-bg{
        height: 120%;
      }
      p{
        margin: 1.5rem 0 2rem;
      }

    }
  }
}


.our-jobs{
  @extend %vertical-align;
  max-width: 38rem;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left;

  h2{
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%;
  }
  p{
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
  }
  .btn{
    width: 100%;
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {

  }

  // LARGE: 1025px min
  @include media(min-width 64.063em) {
    max-width: 47rem;

    .btn{
      max-width: 20rem;
    }
  }

}

// Home Block Styles
.home01{
  background-image: url(../images/home/home01.jpg);
}
.home02{
  background-image: url(../images/home/home02.jpg);
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}


// Benefits
.benefits{
  @include clearfix;
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;

  .benefits__item{
    float: left;
    height: 10rem;
    width: 10rem;
    margin: 5.5%;
    border-radius: 50%;
    border: .2rem solid #fff;

    p{
      @extend %vertical-align;
      margin: 0;
      padding: 0 10%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.1;
      color: #fff;
    }
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {
    width: 100%;

    .benefits__item{
      margin: 4.4%;
    }
  }
}



