.home{

  .page-header{
    background-color: #FAA568;
    overflow: hidden;

    p{
      @extend %sans-serif;
      margin: 1rem 0 1.8rem;
      font-weight: 900;
      line-height: 1.3;
      width: 100%;
      max-width: 36rem;
    }

    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      background-size: 82%;
      background-position: right -15rem;
      height: auto;
      max-height: 48rem;

      &:before{
        content: '';
        display: block;
        margin-top: 84%;
      }
      h1{
        width: 102%;
        margin-left: -.4rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
        height: auto;
        margin-right: -.5rem;
      }
      .btn{
        max-width: 26rem;
      }
    }

    // LARGE: 1025px min
    @include respond-to(lg-screen) {
      background-image: none;
      max-height: 65rem;

      &:before{
        margin-top: 62%;
      }
      h1{
        width: 102%;
        margin-left: -.7rem;
      }
    }

    // X-LARGE: 1441px min
    @include respond-to(x-lg-screen) {
      max-height: 71rem;

      h1{
        margin-left: -.8rem;
      }
    }

    // XX-LARGE 1921px min
    @include respond-to(xx-lg-screen) {
      max-height: rem(1440px);

      h1{
        margin-left: -1rem;
      }
      p{
        margin: 1.5rem 0 2rem;
      }
    }
  }

  .page-header__bg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 40rem;
    background-image: url(../images/home/header-bg.jpg);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;

    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      max-width: 38rem;
    }
  }

  .page-header__copy{
    position: absolute;
    color: #fff;
    cursor: default;

    // MEDIUM: 641px min
    @include respond-to(md-screen) {
      margin-top: 2.3rem;
    }

    // X-LARGE: 1441px min
    @include respond-to(x-lg-screen) {
      margin-top: 2rem;
    }
  }
  .page-header__copy{
    @extend %vertical-align;
  }
}

.video-bg{
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  right: 0;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {

  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    display: block;
  }
  // X-LARGE: 1441px min
  @include respond-to(x-lg-screen) {

  }
  // XX-LARGE: 1921px min
  @include respond-to(xx-lg-screen) {

  }
}

// culture
.culture{

  .pullquote{
    @extend %serif;
  }

  p:first-letter{
    font-size: 340%;
    line-height: 0;
    display: inline-block;
    float: left;
    padding: 3.1rem 0.5rem 1rem 1rem;

    // firefox fix
    @-moz-document url-prefix() {
      padding: 0.2rem 0.3rem 0.8rem 0.6rem;
    }
  }
}

// our jobs block
.our-jobs__copy{
  @extend %vertical-align;
  max-width: 48rem;
  width: 90%;
  color: #444 !important;
  position: relative;
  margin: 0 auto;
  text-align: left;

  h2{
    @extend %default-cursor;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    line-height: .9;
    font-weight: 900;
    width: 30%;
  }
  p{
    @extend %serif;
    line-height: 1.7;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
  }
  .btn{
    width: 100%;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    max-width: 47rem;
    width: 85%;

    .btn{
      max-width: 25rem;
    }
  }
}

// Block-specific Styles
.home01{
  padding: 4rem 0;

  .block--img__img{
    background-image: url(../images/home/home01.jpg);
  }
}

.home02{
  .block--img__img{
    background-image: url(../images/home/home02.jpg);
  }
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
  height: 40rem;
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}

// Benefits
.benefits{

  .wrapper{
    width: 90%;
    margin: 0 auto;
  }
  .col{
    float: left;
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 2rem 0;
    text-align: center;
  }

  @for $item from 1 through 8{
    .col:nth-child(#{$item}){
      .benefits__item{
        transition-delay: #{$item / 9 }s;
      }
      p{
        transition-delay: #{$item / 5 }s;
      }
    }
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {

    .wrapper{
      max-width: 65rem;
      padding: 3rem 0
    }

    .col{
      width: 33.333333%;
      margin-right: 0;
    }
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .wrapper{
      max-width: 80rem;
    }
    .col{
      width: 25%;
      margin-right: 0;
    }
  }
}

.benefits__item{
  @extend %slowest-transition;
  @extend %backface-hidden;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: .25rem solid rgba(255,255,255,.99);

  p{
    @extend %default-cursor;
    @extend %slowest-transition;
    @extend %vertical-align;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    line-height: 1.1;
    color: #fff;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    margin: 4.4%;
    width: 12rem;
    height: 12rem;
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .dormant &{
      @include transform(rotateY(120deg) scale(.2));
      border-color: rgba(255,255,255,0);

      p{
        opacity: 0;
      }
    }
  }


}


