#home-video-bg{
  display: none;
}

.home{

  // Primary Nav
  .nav-primary{

  }
  .our-jobs{
    max-width: 38rem;
    color: #444 !important;

    p{
      width: 100%;
    }
  }

  // Hero Header
  .page-header{
    background: #DB9452;
    overflow: hidden;

    .header-bg{
      width: 35rem;
      margin-top: -2.3rem;
      right: -.3rem;
      background-image: url(../images/home/header-tools.jpg);
    }
    .header-copy{
      color: #fff;
      margin-top: -1rem;
    }
    h1{
      font-size: 7.5rem;
      line-height: .8;
      font-weight: 900;
    }
    p{
      @extend %sans-serif;
      width: 100%;
      margin: 1rem 0 1.8rem;
      font-size: 1.7rem;
      font-weight: 900;
      line-height: 1.3;
    }

    // MEDIUM: 641px min
    @include media(min-width 40.063em) {
      height: rem(800px);

      #home-video-bg{
        display: block;
        width: 100%;
        position: absolute;
        background-color: transparent;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        background-size: cover;
      }

      h1{
        font-size: 9.5rem;
      }
      .header-bg{
        width: 81%;
        right: 0rem;
        margin-top: 3.5rem;
      }
      .header-copy{
        margin-top: 0;
      }
      .btn{
        width: auto;
      }
      .break-sm{
        display: block;
      }
    }
    // LARGE: 1025px min
    @include media(min-width 64.063em) {

      h1{
        font-size: 11.3rem;
        margin-left: -1rem;
      }
      .header-copy{
        margin-top: 0rem;
      }

      .header-bg{
        right: 4rem;
        width: 54rem;
        margin-top: 0rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
      }
      p{
        width: 40rem;
        font-size: 1.7rem;
      }
    }
    // X-LARGE: 1441px min
    @include media(min-width 90.063em) {
      height: rem(1000px);
      padding: 0;

      h1{
        font-size: 14.4rem;
        margin-left: -1rem;
      }
      .header-copy{
        margin-top: 2rem;
      }
      .header-bg{
        right: 8rem;
        margin-top: 0;
        width: 63rem;
      }
      .comma{
        display: inline-block;
        visibility: visible;
      }
      p{
        font-size: 2rem;
      }
    }
    // XX-LARGE 1921px min
    @include media(min-width 120.063em) {
      height: rem(1140px);
      p{
        margin: 1.5rem 0 2rem;
      }

    }
  }
}

// Home Block Images
.home01{
  background-image: url(../images/home/home01.jpg);
}
.home02{
  background-image: url(../images/home/home02.jpg);
}
.home03{
  background-image: url(../images/home/home03.jpg);
}
.home04{
  background-image: url(../images/home/home04.jpg);
}
.home05{
  background-image: url(../images/home/home05.jpg);
}
.home06{
  background-image: url(../images/home/home06.jpg);
}


// Benefits
.benefits{
  @include clearfix;
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;

  .benefits__item{
    float: left;
    height: 10rem;
    width: 10rem;
    margin: 5.5%;
    border-radius: 50%;
    border: .2rem solid #fff;

    p{
      @extend %vertical-align;
      margin: 0;
      padding: 0 10%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.1;
      color: #fff;
    }
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {
    width: 100%;

    .benefits__item{
      margin: 4.4%;
    }
  }
}



