
.icon{
  @extend %no-selection;
  font-family: 'socicon-webfont' !important;
  font-style: normal;
}

.icon-twitter:before { content: "a"; }
.icon-facebook:before { content: "b"; }
.icon-youtube:before { content: "r"; }
