.jobs{
  .page-header__bg{
    background-image: url(../images/jobs/header-jobs.jpg);
    width: 46rem;
    top: 6rem;
    right: -25rem;
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {

  }
  // LARGE: 1025px min
  @include media(min-width 64.063em) {

  }
  /* X-LARGE: 1441px min */
  @include media(min-width 90.063em) {
    .break-sm{
      display: block;
    }
  }
}


.jobscore-jobs{
  max-width: 900px;

  #jobs-list{
    font-size: 2rem;
  }
}
