.jobs{
  .header-bg{
    background-image: url(../images/jobs/header-jobs.jpg);
    width: 46rem;
    top: 2rem;
    right: -25rem;
  }

  // MEDIUM: 641px min
  @include media(min-width 40.063em) {
    .header-bg{
      right: -10rem;
    }
  }
  // LARGE: 1025px min
  @include media(min-width 64.063em) {
    .header-bg{

    }
  }
}

