.jobs{


  /* MEDIUM: 641px min */
  @include respond-to(md-screen) {
    .page-header--subpage{

    }
    .page-header__copy{
      br{
        display: none;
      }
    }

  }
}

.jobscore-jobs{
  @extend %slower-transition;
  max-width: 900px;
  min-height: 41rem;

  .js-fallback{
    opacity: 0;
  }
}
