.nav-primary{
  @extend %backface-hidden;
  position: relative;
  float: left;
  width: 100%;
  height: $primary-nav-height;
  z-index: 99;

  a:active{
    opacity: .6;
  }
  .logo{
    @extend %no-transition;
    background: url('../images/global/techshed-logo.png') left top no-repeat;
    background-size: cover;
    width: 12rem;
    height: 3rem;
    left: 0;
    margin: 0;
    padding: 0;
    font: 0/0 a;
    font-size: 3rem;
    color: transparent;
  }
  .logo, .nav-primary__menu--lg{
    @extend %vertical-align;
    position: absolute;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .nav-primary__menu-toggle, .nav-primary__menu{
      display: none !important;
    }
    .nav-primary__menu--lg{
      display: block;
    }
  }
}

.nav-primary__menu-toggle{
  text-align: right;
  float: right;
  padding: 1.5rem 0rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  vertical-align: middle;

  span{
    display: inline-block;
    opacity: .5;
  }
}

.nav-primary__menu{
  @extend %regular-transition;
  @extend %hwa;
  @extend %backface-hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 35.4rem;
  text-align: center;
  z-index: 2;
  display: none;
  padding-top: $primary-nav-height;
  overflow: hidden;

  &:before{
    @extend %regular-transition;
    @extend %hwa;
    @extend %backface-hidden;
    content: '';
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.93) 0%, rgba(0, 0, 0, 0.93) 50%, transparent 100%);
    height: 240%;
    top: -$primary-nav-height;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &.is-hidden{
    opacity: 0;

    &:before{
      top: -100%;
    }
    .nav-primary__link{
      @include transform(translateY(-10px));
      opacity: 0;
    }
  }
  .nav-primary__link{
    @include transform(translateY(0));
    @extend %regular-transition;
    @extend %backface-hidden;
    display: block;
    float: left;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    opacity: 1;
    width: 100%;
    height: 25%;

    &:active{
      @extend %no-transition;
      color: rgba(255,255,255,0.5);
    }
    span{
      @extend %vertical-align;
      display: inline-block;
    }
    @for $item from 1 through 4{
      &:nth-child(#{$item}){
        transition-delay: #{$item / 15}s;
      }
    }
  }
}

.nav-primary__menu--on{
  @extend %quick-transition;

  .logo{
    background-position: 0 0 !important;
  }
  .nav-primary__menu-toggle{
    color: #fff !important;

    span{
      font-size: 1.9rem;
    }
  }
}
.nav-primary__menu--lg{
  text-align: right;
  right: 0;
  display: none;

  a{
    display: inline-block;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.7rem;

    &.active{

      span{
        @include linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,0.35) 50%);
        padding: 0.7rem 0;
        background-size: 1px 6px;
        background-position: 0 2.9rem;
        background-repeat: repeat-x;
      }
    }
  }
}
