.nav-primary{
  @extend %default-cursor;
  @extend %no-select;
  @extend %backface-hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: $primary-nav-height;
  z-index: 3;

  &.visible{
      opacity: 1;
  }

  a:last-child{
    padding-right: 0;
  }

  a:active{
    opacity: .6;
  }
  .logo, .nav-primary__menu--lg{
    @extend %vertical-align;
    position: absolute;
  }

  @include respond-to(md-screen) {
    .nav-primary__menu--lg{
      display: block;
    }
  }
}
.nav-primary__menu-toggle{
  text-align: right;
  float: right;
  padding: 2.45rem 0;
  vertical-align: middle;
  font-size: 1.7rem;
  font-weight: 600;
  color: $body-copy-color;

  .home &{
    color: #fff;
  }
  span{
    display: inline-block;
    opacity: .5;
  }
  @include respond-to(md-screen) {
    display: none !important;
  }
}
.nav-primary__menu{
  display: none;
  @extend %regular-transition;
  @extend %hwa;
  @extend %backface-hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 100%;
  min-height: 35.4rem;
  padding-top: $primary-nav-height;
  text-align: center;
  overflow: hidden;
  z-index: 2;

  @include respond-to(md-screen) {
    display: none !important;
  }

  &.is-hidden{
    opacity: 0;

    &:before{
      top: -100%;
    }
    .nav-primary__link{
      @include transform(translateY(-10px));
      opacity: 0;
    }
  }
  // dark menu bg
  &:before{
    @include linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
    @extend %regular-transition;
    @extend %hwa;
    @extend %backface-hidden;
    content: '';
    position: absolute;
    height: 240%;
    top: -$primary-nav-height;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .nav-primary__link{
    @include transform(translateY(0));
    @extend %regular-transition;
    @extend %backface-hidden;
    display: block;
    float: left;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 900;
    opacity: 1;
    width: 100%;
    height: 25%;

    &:active{
      @extend %fastest-transition;
      color: rgba(255,255,255,0.5);
      background-color: rgba(0,0,0,0.4);
    }
    span{
      @extend %vertical-align;
      display: inline-block;
    }

    // staggered fadein effect
    @for $item from 1 through 4{
      &:nth-child(#{$item}){
        transition-delay: #{$item / 15}s;
      }
    }
  }
}
.nav-primary__menu--on{
  @extend %fast-transition;

  .logo__type{
    background-position: right;
  }
  .nav-primary__menu-toggle{
    color: #fff;

    span{
      font-size: 1.9rem;
    }
  }
}
// nav for medium+ screens
.nav-primary__menu--lg{
  @extend %inline-list;
  display: none;
  text-align: right;
  right: 0;

  a{
    @extend %no-transition;
    padding: .8rem 1.3rem;
    font-weight: 900;
    font-size: 1.7rem;
    color: #fff;

    // Dark text color on subpage
    .subpage &{ color: $body-copy-color; }

    span:hover{
        opacity: .8;
    }
    &.active span, &.active span:hover{
        opacity: 1;
      @include svelte-underline(light, heavy, no-hover);

      .subpage &{
        @include svelte-underline(dark, heavy, no-hover);
      }
    }
  }
  span{
    padding: 0.7rem 0;
  }
}
