// Type
%serif{
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic;
  letter-spacing: 0.06rem;
}
%sans-serif{
  font-family:"Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}
%superscript{
  vertical-align: super;
  font-size: 80%;
}
@mixin svelte-underline($shade, $thickness) {
  // props to Marcin Wichary @ Medium.com for sharing this approach to link underlining
  // https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
  background-size: 2px 2px;
  background-position: 0 1.7rem;
  background-repeat: repeat-x;

  @if $shade == light {
    @include linear-gradient(to bottom, rgba(255,255,255, 0) 50%, rgba(255,255,255, 0.6) 50%);
    color: #fff;

    &:hover{
      @include linear-gradient(to bottom, rgba(255,255,255, 0) 50%, rgba(255,255,255, 0.9) 50%);
    }
  }
  @else if $shade == dark{
    @include linear-gradient(to bottom, rgba(0,0,0, 0) 50%, rgba($body-copy-color, 0.3) 50%);
    color: $body-copy-color;

    &:hover{
      @include linear-gradient(to bottom, rgba(0,0,0, 0) 50%, rgba($body-copy-color, 0.6) 50%);
    }
  }
  @if $thickness == heavy{
    padding: 0.7rem 0;
    background-size: 1px 6px;
    background-position: 0 2.9rem;
    background-repeat: repeat-x;
  }
}


// Layout & Positioning
%vertical-align {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}
%vertical-align-children{
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}
%inline-list{
  margin: 0;
  padding: 0;
  list-style-type: none;

  li, a{
    display: inline-block;
    float: left;
  }
}
%ghost-block{
  display: block;
  visibility: hidden;
  height: 0;
}

// Helpers
%default-cursor{
  cursor: default;
}
%no-select{
  @include user-select(none);
}

// Rendering
%hwa {
  -webkit-transform: translateZ(0) translate3D(0,0,0);
  -moz-transform: translateZ(0) translate3D(0,0,0);
  -o-transform: translateZ(0) translate3D(0,0,0);
  -ms-transform: translateZ(0) translate3D(0,0,0);
  transform: translateZ(0) translate3D(0,0,0);
}
%backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
