// Type
%serif{
  font-family: "Libre Baskerville", "Palatino Linotype", "Palatino", serif;
  font-style: italic;
  letter-spacing: 0.06rem;
}
%sans-serif{
  font-family:"Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
}

// Positioning
%vertical-align {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}
%vertical-align-children{
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

%default-cursor{
  cursor: default;
}

%ghost-block{
  display: block;
  visibility: hidden;
  height: 0;
}

%inline-list{
  margin: 0;
  padding: 0;
  list-style-type: none;

  li{
    display: inline-block;
    float: left;
  }
}

%hwa {
  -webkit-transform: translateZ(0) translate3D(0,0,0);
  -moz-transform: translateZ(0) translate3D(0,0,0);
  -o-transform: translateZ(0) translate3D(0,0,0);
  -ms-transform: translateZ(0) translate3D(0,0,0);
  transform: translateZ(0) translate3D(0,0,0);
}

%backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
