.projects{
  .header-bg{
    background-image: url(../images/projects/projects-header.jpg);
    width: 42rem;
    top: 1rem;
    right: -30rem;
  }

  .block-project{
    height: 50rem;
    color: #fff;

    h2{
      width: 70%;
    }
    p{
      width: 100%;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  /* MEDIUM: 641px min */
  @include media(min-width 40.063em) {
    .header-bg{
      width: 42rem;
      top: 1rem;
      right: -20rem;
    }

    .block-project{
      height: 40rem;

      h2{
        width: 70%;
      }
      p{
        width: 50%;
      }
    }
  }
  /* LARGE: 1025px min */
  @include media(min-width 64.063em) {
    .break-sm{
      display: block;
    }
  }
}




  // Project Images
  .project01{
    background-image: url(../images/projects/project01.jpg);
  }
  .project02{
    background-image: url(../images/projects/project02.jpg);
  }
  .project03{
    background-image: url(../images/projects/project03.jpg);
  }



