.projects{
  /* LARGE: 1025px min */
  @include media(min-width 64.063em) {
    .break-sm{
      display: block;
    }
  }
}

.block--project{
  @extend .block--img;
  @extend .block--wide;
  height: 50rem;
  color: #fff;

  h2{
    width: 70%;
  }
  p{
    width: 100%;
    font-weight: 600;
    line-height: 1.5;
  }
  @include media(min-width 40.063em) {
    height: 40rem;

    h2{
      width: 70%;
    }
    p{
      width: 50%;
    }
  }
}

// Project Images
.project01{
  background-image: url(../images/projects/project01.jpg);
}
.project02{
  background-image: url(../images/projects/project02.jpg);
}
.project03{
  background-image: url(../images/projects/project03.jpg);
}



