
// Project Item
.project{
  @extend .block;
  margin-bottom: $baseline-spacing-hard;

  img{
    @extend %slower-transition;
    display: block;
    max-height: 35rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .col{
    @include span-columns(12);
  }

  @include respond-to(md-screen) {
    margin-bottom: 0;

    img{
      max-width: none;
    }
    .col{
      @include span-columns(6);
      height: 40rem;
    }
  }

  @include respond-to(x-lg-screen) {
    .wrapper{
      max-width: 90rem;
    }
  }
}

.project__copy{
    @include respond-to(handhelds) {
      font-size: 1.8rem;
    }
}

.project--featured{
  @extend .block;
  @extend .block--img;
  height: 35rem;
  margin: 4rem 0 30rem;
  background-position: 93% center;
  background-size: 273%;
  overflow: visible;

  .project__copy{
    @include linear-gradient(transparent 0%, #111 30%, #111 100%);
    padding: 10rem 2rem 4rem;
  }

  @include respond-to(md-screen) {
    margin: 0 0 $baseline-spacing-hard;
    height: 30rem;

    .project__copy{
      left: 0;
      width: 60%;
      max-width: 44rem;
      padding: 0;
      background: none;
    }
    br{
      display: none;
    }
  }

  @include respond-to(lg-screen) {
    height: 37rem;

    .project__copy{
      left: 8%;
    }
  }
}
.project--featured__badge{
  position: absolute;
  width: 9rem;
  height: 9rem;
  top: -4.5rem;
  left: calc(50% - 4.5rem);
  font-weight: 900;
  line-height: 9rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: $homedepot-orange;
}

.project--img-left{
  @extend .project;

  @include respond-to(md-screen) {
    .project__img{
      float: left;

      img{
        float: right;
      }
    }
    &.dormant{
      img{
        @include transform(translateX(-15rem));
        opacity: 0;
      }
    }
  }
}
.project--img-right{
  @extend .project;

  @include respond-to(md-screen) {
    .col{
      margin-right: -5% !important;
    }
    .col:first-child{
      width: 40%;
      float: right;
    }
    .col:nth-child(2){
      float: left;
    }
    .project__copy{
      right: -10%;
      width: 110%;
    }
    img{
      margin-left: 10px;
    }

    &.dormant{
      img{
        @include transform(translateX(15rem));
        opacity: 0;
      }
    }
  }
  @include respond-to(lg-screen) {
    .col{
      margin-right: -10% !important;
    }
    .project__copy{
      right: -15%;
      width: 105%;
    }
  }
}

.project__img{
  @include transform(none);
}
.project__copy{
  @include transform(none);

  h2{
    margin: 0 0 1rem;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.1;
  }
  p{
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
  }

  @include respond-to(md-screen) {
    p{
      max-width: 51rem;
    }
  }
}
.project__img, .project__copy{
  @extend %slow-transition;
  @extend %vertical-align;
  width: 100%;
  float: left;

  @include respond-to(md-screen) {
    @include transform(translateY(-50%));
  }
}

// Project Specific Styles
.project-01{
  background-image: url(../images/projects/project01.jpg);


  @include respond-to(handhelds) {
    .wrapper{
      width: 100%;
    }
  }
  @include respond-to(lg-screen) {
    background-size: 110%;
  }
  @include respond-to(x-lg-screen) {
    background-size: 100%;
  }
}
.project-04{
    .project__img{
        margin-bottom: 1.7rem;
    }

  @include respond-to(md-screen) {
    .project__img{
      margin-left: -3rem;
    }
  }
}

.project-02{
    @include respond-to(handhelds) {
      img{
          margin: 0 0 -1rem -20%;
          max-width: 140%;
      }
    }
    @include respond-to(md-screen) {
      .project__copy{
          margin-top: -3rem;
      }
    }
}
