.projects{

  .page-header{
    min-height: 52rem;
    margin-bottom: 3.5rem;
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .break-sm{
      display: block;
    }
  }
}

// Project Item
.project{
  @extend .block;

  img{
    display: block;
    max-height: 35rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .col{
    @include span-columns(12);

  }
  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    img{
      max-width: none;
    }
    .col{
      @include span-columns(6);
      height: 33rem;
    }
  }
  // LARGE: 1025px min
  @include respond-to(x-lg-screen) {
    .wrapper{
      max-width: 90rem;
    }
  }
}

.project--featured{
  @extend .project;
  @extend .block--img;
  height: 40rem;
  margin-bottom: 5rem;
}

.project--featured__badge{
  position: absolute;
  top: -8rem;
  line-height: 10rem;
  left: calc(50% - 5rem);
  background: $homedepot-orange;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  width: 10rem;
  height: 10rem;
  text-align: center;
}

.project--img-left{
  @extend .project;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .project__img{
      float: left;

      img{
        float: right;
      }
    }
  }
}
.project--img-right{
  @extend .project;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .col:first-child{
      width: 40%;
      float: right;
    }
    .col:nth-child(2){
      float: left;
    }
    .project__copy{
      right: -5rem;
    }
    img{
      margin-left: 10px;
    }
  }
}

.project__img, .project__copy{
  width: 100%;
  float: left;
}

.project__copy{
  @extend %vertical-align;
  @include transform(none);

  h2{
    margin: 0 0 1rem;
    font-size: 3rem;
    font-weight: 900;
  }
  p{
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    @include transform(translateY(-50%));

    p{
      max-width: 51rem;
    }
  }
}

// Project Specific Styles
.project-01{
  background-image: url(../images/projects/project01.jpg);
}
.project-04{

  // MEDIUM: 641px min
  @include respond-to(md-screen) {

    .project__img{
      margin-left: -3rem;
    }
  }
}
