.projects{

  .page-header{
    min-height: 52rem;
    margin-bottom: 3.5rem;
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .break-sm{
      display: block;
    }
  }
}

// Project Item
.project{
  @extend .block;

  img{
    display: block;
    max-height: 35rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .col{
    @include span-columns(12);
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    img{
      max-width: none;
    }
    .col{
      @include span-columns(6);
      height: 33rem;
    }
  }

  // LARGE: 1025px min
  @include respond-to(x-lg-screen) {
    .wrapper{
      max-width: 90rem;
    }
  }
}

.project--featured{
  @extend .project;
  @extend .block--img;
  height: 40rem;
  margin-bottom: 18rem;
  background-position: 93% center;

  .project__copy{
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.93) 50%, rgba(0, 0, 0, 0.93) 100%);
    padding: 10rem 2rem 4rem;
    width: 111.5%;
    left: -6%;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    margin-bottom: 5rem;
    height: 30rem;

    .project__copy{
      background: none;
      padding: 0;
      width: 60%;
      left: 0;
    }
    br{
      display: none;
    }
  }

  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    .project__copy{
      right: -4rem;
    }
  }
}
.project--featured__badge{
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -8rem;
  left: calc(50% - 5rem);
  font-weight: 900;
  line-height: 10rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: $homedepot-orange;
}

.project--img-left{
  @extend .project;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .project__img{
      float: left;

      img{
        float: right;
      }
    }
  }
}
.project--img-right{
  @extend .project;

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .col:first-child{
      width: 40%;
      float: right;
    }
    .col:nth-child(2){
      float: left;
    }
    .project__copy{
      right: -5rem;
    }
    img{
      margin-left: 10px;
    }
  }
}

.project__img, .project__copy{
  width: 100%;
  float: left;
}
.project__copy{
  @extend %vertical-align;
  @include transform(none);

  h2{
    margin: 0 0 1rem;
    font-size: 3rem;
    font-weight: 900;
  }
  p{
    width: 100%;
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    @include transform(translateY(-50%));

    p{
      max-width: 51rem;
    }
  }
}

// Project Specific Styles
.project-01{
  background-image: url(../images/projects/project01.jpg);


  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    background-size: 110%;
  }
  // LARGE: 1025px min
  @include respond-to(x-lg-screen) {
    background-size: 100%;
  }
}
.project-04{

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    .project__img{
      margin-left: -3rem;
    }
  }
}
