// Subpage specific global overrides
.page-header--subpage{
    padding: 8rem 0 5rem;

  .page-header__copy{
    @include transform(translateY(0));
    color: $body-copy-color;

    p{
      @extend %serif;
      width: 100%;
      max-width: 75rem;
      margin-bottom: 0;
      font-size: 2rem;
    }
  }

  @include respond-to(md-screen) {
    padding: 10rem 0 7rem;
  }
  @include respond-to(lg-screen) {
  }
  @include respond-to(x-lg-screen) {
  }
}
