// Subpage specific global overrides
.page-header--subpage{
  padding-bottom: 4rem;

  .page-header__copy{
    @include transform(translateY(0));
    color: $body-copy-color;

    p{
      @extend %serif;
      font-size: 2rem;
      width: 100%;
      margin-bottom: 0;
    }
  }

  // MEDIUM: 641px min
  @include respond-to(md-screen) {
    padding-bottom: 8rem;
  }
  // LARGE: 1025px min
  @include respond-to(lg-screen) {
    padding: 10rem 0;
  }
  // X-LARGE: 1441px min
  @include respond-to(x-lg-screen) {
    padding: 12rem 0;
  }
}
